
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <title>
      Boxy
    </title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      #outlook a { padding:0; }
      .ReadMsgBody { width:100%; }
      .ExternalClass { width:100%; }
      .ExternalClass * { line-height:100%; }
      body { margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }
      table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }
      img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }
      p { display:block;margin:13px 0; }
    </style>
    <!--[if !mso]><!-->
    <style type="text/css">
      @media only screen and (max-width:480px) {
        @-ms-viewport { width:320px; }
        @viewport { width:320px; }
      }
    </style>
    <!--<![endif]-->
    <!--[if mso]>
    <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if lte mso 11]>
    <style type="text/css">
      .outlook-group-fix { width:100% !important; }
    </style>
    <![endif]-->

  <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
    </style>
  <!--<![endif]-->



<style type="text/css">
  @media only screen and (min-width:480px) {
    .mj-column-per-100 { width:100% !important; max-width: 100%; }
.mj-column-per-50 { width:50% !important; max-width: 50%; }
.mj-column-per-33 { width:33.333333333333336% !important; max-width: 33.333333333333336%; }
  }
</style>


    <style type="text/css">



@media only screen and (max-width:480px) {
  table.full-width-mobile { width: 100% !important; }
  td.full-width-mobile { width: auto !important; }
}


  noinput.mj-menu-checkbox { display:block!important; max-height:none!important; visibility:visible!important; }

  @media only screen and (max-width:480px) {
    .mj-menu-checkbox[type="checkbox"] ~ .mj-inline-links { display:none!important; }
    .mj-menu-checkbox[type="checkbox"]:checked ~ .mj-inline-links,
    .mj-menu-checkbox[type="checkbox"] ~ .mj-menu-trigger { display:block!important; max-width:none!important; max-height:none!important; font-size:inherit!important; }
    .mj-menu-checkbox[type="checkbox"] ~ .mj-inline-links > a { display:block!important; }
    .mj-menu-checkbox[type="checkbox"]:checked ~ .mj-menu-trigger .mj-menu-icon-close { display:block!important; }
    .mj-menu-checkbox[type="checkbox"]:checked ~ .mj-menu-trigger .mj-menu-icon-open { display:none!important; }
  }

    </style>
    <style type="text/css">
    .bg-reassurance td { background-color: {if isset($template_appearance['primary_color'])}{$template_appearance['primary_color']}{else}#79CEE1{/if}}
    .bg-reassurance td img { border:0;display:block;outline:none;text-decoration:none;height:auto;}
    .break-all, .break-all * {
      word-break: break-all;
    }
</style>

  <style>/**** Global ****/
  .logo {
    border: none;
    display: block;
    outline: none;
    text-decoration: none;
    width: auto;
    max-width: 280px;
    max-height: 80px;
    margin: auto;
  }

  .position-relative {
    position: relative;
  }

  .link-hack:before  {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }


  .mj-inline-links a, .mj-inline-links a span {
  color: #ffffff !important;
  }

  /**** Download Product ****/

  ul {
  color: #818181;
  font-size: 16px;
  margin: 0;
  padding: 0 0 0 25px;
  }

  ul li {
  padding-bottom: 10px;
  }

  ul li:last-child {
  padding-bottom: 0;
  }

  ul li a {
  display: block;
  margin-bottom: 5px;
  }

  /**** Order Conf ***/
  th {
  font-size: 14px;
  color: #414a56;
  font-weight: bold;
  font-family: Arial !important;
  }

  table.table-list {
  font-family: Arial !important;
  }

  table.table-list p {
  word-break: break-all;
  }

  table.table-list tr {
  background-color: #ffffff !important;
  }

  table.table-list tr td {
  border: none !important;
  border-bottom: 1px solid #979797 !important;
  color: #919191 !important;
  line-height: 22px !important;
  }

  table.table-list tr td:first-child {
  text-align: left !important;
  }

  table.table-list tr td:last-child {
  text-align: right !important;
  }

  table.table-list tr.conf_body td {
  border: none !important;
  color: #919191 !important;
  }

  /**** Media Query ****/

  @media only screen and (max-width: 768px) {
  .mj-inline-links a {
  display: block !important;
  padding: 15px 10px 5px !important;
  }

  .mj-inline-links a span {
  margin-right: 0 !important;
  }
  }

  @media only screen and (min-width: 301px) and (max-width: 500px) {
  .table, .table-recap {
    margin: auto;
  }

  .table-recap tr td, .conf_body td {
    text-align: center !important;
  }

  .table-recap tr th {
    font-size: 12px !important;
  }

  .table-recap tr td {
    font-size: 12px !important;
  }

  table.table-list tr td:first-child {
    text-align: center !important;
  }

  table.table-list tr td:last-child {
    text-align: center !important;
  }
  }

  @media only screen and (max-device-width: 480px) {
    .logo {
      max-width: 200px;
    }

    .table {
      width: 260px!important;
      margin: auto;
    }

    .table tr th {
      text-align: center!important;
      padding: 15px 10px !important;
    }

    .table td {
      text-align: center!important;
    }

    .table td, .table th {
      width: auto!important;
    }

    .table table, .table thead, .table tbody, .table th, .table td, .table tr {
      display: block !important;
    }

    table.table-list tr td {
      width: 100% !important;
    }

    table.table-list tr td:first-child {
      text-align: center !important;
    }

    table.table-list tr td:last-child {
      text-align: center !important;
    }
  }

  @media only screen and (max-width: 300px) {
    .logo {
      max-width: 120px;
    }

    .table {
      width: 140px !important;
      margin: auto;
    }

    .table td {
      text-align: center !important;
    }

    .table tr td {
      font-size: 12px !important;
    }

    .table table, .table thead, .table tbody, .table th, .table td, .table tr {
      display: block !important;
    }

    table.table-list tr td {
      width: 100% !important;
    }

    table.table-list tr td:first-child {
      text-align: center !important;
    }

    table.table-list tr td:last-child {
      text-align: center !important;
    }
  }

  .cta_content a:hover {
    text-decoration: none;
  }

  #boxy_tpl a,
  .columns .columns-title a, .columns .columns-description, .columns .columns-price {
    color: {if isset($template_appearance['secondary_color'])}{$template_appearance['secondary_color']}{else}#00aff0{/if};
  }

  #boxy .discount-code {
    width: 134px !important;
    margin: 10px auto;
    text-align: center;
    color: {if isset($template_appearance['primary_color'])}{$template_appearance['primary_color']}{else}{$color1}{/if};
    background-color: #eee;
    width: 150px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 5px
}
  #template_live-edit h3.cap-email_reassurance_text {
    border: none !important;
  }
</style></head>
  <body style="background-color:#ffffff;">


  <div
  id="boxy_tpl"
      style="background-color:#ffffff;"
  >


<!--[if mso | IE]>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="35" style="vertical-align:top;height:35px;">

<![endif]-->

  <div
      style="height:35px;"
  >
    &nbsp;
  </div>

<!--[if mso | IE]>

    </td></tr></table>


  <table
      align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="Margin:0px auto;max-width:600px;">

    <table
        align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;"
    >
      <tbody>
        <tr>
          <td class="primary_color-bordercolor"
              style="border:8px solid {if isset($template_appearance['primary_color'])}{$template_appearance['primary_color']}{else}#79CEE1{/if};direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>
          <td
              class="" width="600px"
          >

  <table
      align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:584px;" width="584"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="Margin:0px auto;max-width:584px;">

    <table
        align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;"
    >
      <tbody>
        <tr>
          <td
              style="direction:ltr;font-size:0px;padding:15px;padding-bottom:10px;text-align:center;vertical-align:top;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
            class="" style="vertical-align:top;width:554px;"
        >
      <![endif]-->

  <div
      class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >

        <tr>
          <td
              align="left" style="font-size:0px;padding:10px 25px 30px;word-break:break-word;"
          >

  <table
      cellpadding="0" cellspacing="0" width="100%" border="0" style="cellspacing:0;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:100%;"
  >
    <tr>
<td align="center">
  <a href="{$shop_url}" target="_blank" style="display: block; max-height: 80px; max-width: 300px">
    <!--[if mso]>
  <table width="50%"><tr><td><img width="300" src="{$shop_logo}" alt="{$shop_name}" style="text-align: center; width: 300px; border: 0; text-decoration:none; vertical-align: baseline;"></td></tr></table>
  <div style="display:none">
<![endif]-->
    <img alt="{$shop_name}" title="{$shop_name}" src="{$shop_logo}" class="logo">
  </a>
</td>
</tr>
  </table>

          </td>
        </tr>

        <tr>
          <td
              align="center" style="font-size:0px;padding:10px 0 5px;word-break:break-word;"
          >

  <div
    class="cap-email_custom_content_here"
      style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:18px;line-height:24px;text-align:center;color:#4A4A4A;"
  >
{if !isset($template_datas[$employeeLangId]['email_content']) || empty($template_datas[$employeeLangId]['email_content'])}Hello John Doe,{else}{$template_datas[$employeeLangId]['email_content']}{/if}
  </div>

          </td>
        </tr>

  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>

          </td>
        </tr>
      <![endif]-->

      <!--[if mso | IE]>
        <tr>
          <td
              class="" width="600px"
          >

  <table
      align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:584px;" width="584"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="Margin:0px auto;max-width:584px;">

    <table
        align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;"
    >
      <tbody>
        <tr>
          <td
              style="direction:ltr;font-size:0px;padding:15px;padding-top:0;text-align:center;vertical-align:top;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
            class="" style="vertical-align:top;width:554px;"
        >
      <![endif]-->

  <div
      class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >


  <tr>
  <td
     align="center" style="font-size:0px;padding:10px 0 5px;word-break:break-word;"
  >

<div
class="cap-email_discount_content_here"
style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:18px;line-height:21px;text-align:center;color:#4A4A4A;"
>
{if !isset($template_datas[$employeeLangId]['email_discount']) || empty($template_datas[$employeeLangId]['email_discount'])}Discount here{else}{$template_datas[$employeeLangId]['email_discount']}{/if}

</div>
  </td>
</tr>
        <tr>
          <td
              align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;padding-top:20px;padding-bottom:0px;word-break:break-word;"
          >

  <table
  class="cap-email_cta"
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%; {if empty($template_datas[$employeeLangId]['email_cta'])}display:none;{/if}"
  >
    <tr>
      <td
        class="cap-email_cta primary_color-backgroundcolor"
          align="center" bgcolor="{if isset($template_appearance['primary_color'])}{$template_appearance['primary_color']}{else}#79CEE1{/if}" role="presentation" style="border:none;border-radius:40px;cursor:auto;padding:10px 40px;background:{if isset($template_appearance['primary_color'])}{$template_appearance['primary_color']}{else}#79CEE1{/if};" valign="middle"
      >
        <p
            class="cta_content primary_color-backgroundcolor"
            style="background:{if isset($template_appearance['primary_color'])}{$template_appearance['primary_color']}{else}#79CEE1{/if};color:white;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:18px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;"
        >
      <a href="#">{if !isset($template_datas[$employeeLangId]['email_cta']) || empty($template_datas[$employeeLangId]['email_cta'])}{l s='Back to cart' mod='pscartabandonmentpro'}{else}{$template_datas[$employeeLangId]['email_cta']}{/if}</a>
        </p>
      </td>
    </tr>
  </table>

          </td>
        </tr>

  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>

          </td>
        </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>
  <![endif]-->

<!-- REINSURANCE BEGIN -->

  <!--[if mso | IE]>
  <table
      align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="Margin:0px auto;max-width:600px;">

    <table
        align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;"
    >
      <tbody>
        <tr>
          <td
              style="direction:ltr;font-size:0px;padding:15px;padding-bottom:0;padding-top:10px;text-align:center;vertical-align:top;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
            class="cap-email_reassurance_1-outlook" style="vertical-align:top;width:190px;"
        >
      <![endif]-->

  <div
      class="mj-column-per-33 outlook-group-fix cap-email_reassurance cap-email_reassurance_1" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;{if empty($template_datas[$employeeLangId]['email_reassurance_text1'])}display:none;{/if}"
  >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
  >
    <tbody>
      <tr>
        <td  style="vertical-align:top;padding:0 25px;">

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%"
  >

        <tr>
          <td
              align="center" class="bg-reassurance" style="font-size:0px;padding:10px 25px;padding-bottom:0px;word-break:break-word;"
          >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
  >
    <tbody>
      <tr>
        <td  style="width:55px;">

  <img
      height="auto" src="{if !empty($template_datas[$employeeLangId]['email_reassurance_img1'])}{$template_datas[$employeeLangId]['email_reassurance_img1']}{else}{$img_url}/templates/reassurance/pack1/headset.png{/if}" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;" width="55"
  />

        </td>
      </tr>
    </tbody>
  </table>

          </td>
        </tr>

        <tr>
          <td
              align="center" style="font-size:0px;padding:10px 0 5px;padding-top:16px;word-break:break-word;"
          >

  <div
      style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:16px;line-height:20px;text-align:center;color:#414a56;"
  >
    <h3
    class="cap-email_reassurance_text"
    style="
    font-size:14px;
    line-height:16px;
    color:#4A4A4A;
    margin-top:0px;
    text-transform:uppercase;">
    {if isset($template_datas[$employeeLangId]['email_reassurance_text1'])}{$template_datas[$employeeLangId]['email_reassurance_text1']}{/if}
      </h3>
  </div>

          </td>
        </tr>

  </table>

        </td>
      </tr>
    </tbody>
  </table>

  </div>

      <!--[if mso | IE]>
        </td>

        <td
            class="cap-email_reassurance cap-email_reassurance_2-outlook" style="vertical-align:top;width:190px;"
        >
      <![endif]-->

  <div
      class="mj-column-per-33 outlook-group-fix cap-email_reassurance cap-email_reassurance_2" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;{if empty($template_datas[$employeeLangId]['email_reassurance_text2'])}display:none;{/if}"
  >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
  >
    <tbody>
      <tr>
        <td  style="vertical-align:top;padding:0 25px;">

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%"
  >

        <tr>
          <td
              align="center" class="bg-reassurance" style="font-size:0px;padding:10px 25px;padding-bottom:0px;word-break:break-word;"
          >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
  >
    <tbody>
      <tr>
        <td  style="width:55px;">

  <img
      height="auto" src="{if !empty($template_datas[$employeeLangId]['email_reassurance_img2'])}{$template_datas[$employeeLangId]['email_reassurance_img2']}{else}{$img_url}/templates/reassurance/pack1/headset.png{/if}" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;" width="55"
  />

        </td>
      </tr>
    </tbody>
  </table>

          </td>
        </tr>

        <tr>
          <td
              align="center" style="font-size:0px;padding:10px 0 5px;padding-top:16px;word-break:break-word;"
          >

  <div
      style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:16px;line-height:20px;text-align:center;color:#414a56;"
  >
    <h3
    class="cap-email_reassurance_text"
    style="
    font-size:14px;
    line-height:16px;
    color:#4A4A4A;
    margin-top:0px;
    text-transform:uppercase;">
    {if isset($template_datas[$employeeLangId]['email_reassurance_text2'])}{$template_datas[$employeeLangId]['email_reassurance_text2']}{/if}
  </h3>
  </div>

          </td>
        </tr>

  </table>

        </td>
      </tr>
    </tbody>
  </table>

  </div>

      <!--[if mso | IE]>
        </td>

        <td
            class="cap-email_reassurance cap-email_reassurance_3-outlook" style="vertical-align:top;width:190px;"
        >
      <![endif]-->

  <div
      class="mj-column-per-33 outlook-group-fix cap-email_reassurance cap-email_reassurance_3" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;{if empty($template_datas[$employeeLangId]['email_reassurance_text3'])}display:none;{/if}"
  >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
  >
    <tbody>
      <tr>
        <td  style="vertical-align:top;padding:0 25px;">

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="" width="100%"
  >

        <tr>
          <td
              align="center" class="bg-reassurance" style="font-size:0px;padding:10px 25px;padding-bottom:0px;word-break:break-word;"
          >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;"
  >
    <tbody>
      <tr>
        <td  style="width:55px;">

  <img
      height="auto" src="{if !empty($template_datas[$employeeLangId]['email_reassurance_img3'])}{$template_datas[$employeeLangId]['email_reassurance_img3']}{else}{$img_url}/templates/reassurance/pack1/headset.png{/if}" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;" width="55"
  />

        </td>
      </tr>
    </tbody>
  </table>

          </td>
        </tr>

        <tr>
          <td
              align="center" style="font-size:0px;padding:10px 0 5px;padding-top:16px;word-break:break-word;"
          >

  <div
      style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:16px;line-height:20px;text-align:center;color:#414a56;"
  >
    <h3
    class="cap-email_reassurance_text"
    style="
    font-size:14px;
    line-height:16px;
    color:#4A4A4A;
    margin-top:0px;
    text-transform:uppercase;">
    {if isset($template_datas[$employeeLangId]['email_reassurance_text3'])}{$template_datas[$employeeLangId]['email_reassurance_text3']}{/if}
  </h3>
  </div>

          </td>
        </tr>

  </table>

        </td>
      </tr>
    </tbody>
  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>
  <![endif]-->

<!-- REINSURANCE ENDING -->

  <!--[if mso | IE]>
  <table
      align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="Margin:0px auto;max-width:600px;">

    <table
        align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;"
    >
      <tbody>
        <tr>
          <td
              style="direction:ltr;font-size:0px;padding:15px;text-align:center;vertical-align:top;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
            class="" style="vertical-align:top;width:570px;"
        >
      <![endif]-->

  <div
      class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >




<!-- SOCIALS BEGIN -->
  <tr>
<td
   align="center" style="font-size:0px;word-break:break-word;"
>


<div
class="mj-inline-links" style=""
>

<!--[if mso | IE]>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center">
<tr>

<![endif]-->

<!--[if mso | IE]>

<td
style="padding:15px 10px;" class=""
>

<![endif]-->

<span class="cap-social_facebook" style="display:{if !isset($template_datas[$employeeLangId]['email_link_facebook']) || empty($template_datas[$employeeLangId]['email_link_facebook'])}none{else}inline-table{/if};">
<a
  class="mj-link cap-social_facebook"
  href="{if !isset($template_datas[$employeeLangId]['email_link_facebook']) || empty($template_datas[$employeeLangId]['email_link_facebook'])}#{else}{$template_datas[$employeeLangId]['email_link_facebook']}{/if}"
  target="_blank"
  style="display:inline-block;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;font-weight:normal;line-height:22px;text-decoration:none;text-transform:uppercase;padding:15px 10px;"
>
<img alt="Facebook" title="Facebook" height="auto" src="{$img_url}/templates/social/facebook.png" style="border: none; display: block; outline: none; text-decoration: none; width: 100%; height: auto; max-width: 53px; margin: auto">
</a>
</span>

<!--[if mso | IE]>

</td>

<![endif]-->

<!--[if mso | IE]>

<td
style="padding:15px 10px;" class=""
>

<![endif]-->

<span class="cap-social_twitter" style="display:{if !isset($template_datas[$employeeLangId]['email_link_twitter']) || empty($template_datas[$employeeLangId]['email_link_twitter'])}none{else}inline-table{/if};">
<a
  class="mj-link cap-social_twitter"
  href="{if !isset($template_datas[$employeeLangId]['email_link_twitter']) || empty($template_datas[$employeeLangId]['email_link_twitter'])}#{else}{$template_datas[$employeeLangId]['email_link_twitter']}{/if}"
  target="_blank" style="display:inline-block;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;font-weight:normal;line-height:22px;text-decoration:none;text-transform:uppercase;padding:15px 10px;"
>
<img alt="Twitter" title="Twitter" height="auto" src="{$img_url}/templates/social/twitter.png" style="border: none; display: block; outline: none; text-decoration: none; width: 100%; height: auto; max-width: 53px; margin: auto">
</a>
</span>

<!--[if mso | IE]>

</td>

<![endif]-->
<!--[if mso | IE]>

<td
style="padding:15px 10px;" class=""
>

<![endif]-->

<span class="cap-social_instagram" style="display:{if !isset($template_datas[$employeeLangId]['email_link_instagram']) || empty($template_datas[$employeeLangId]['email_link_instagram'])}none{else}inline-table{/if};">
<a
class="mj-link"
href="{if !isset($template_datas[$employeeLangId]['email_link_instagram']) || empty($template_datas[$employeeLangId]['email_link_instagram'])}#{else}{$template_datas[$employeeLangId]['email_link_instagram']}{/if}"
  target="_blank" style="display:inline-block;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;font-weight:normal;line-height:22px;text-decoration:none;text-transform:uppercase;padding:15px 10px;"
>
<img alt="Instagram" title="Instagram" height="auto" src="{$img_url}/templates/social/instagram.png" style="border: none; display: block; outline: none; text-decoration: none; width: 100%; height: auto; max-width: 53px; margin: auto">
</a>
</span>

<!--[if mso | IE]>

</td>

<![endif]-->

<!--[if mso | IE]>

</tr></table>

<![endif]-->

</div>

</td>
</tr>

<tr>
<td
   style="font-size:0px;word-break:break-word;"
>


<!--[if mso | IE]>

<table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="10" style="vertical-align:top;height:10px;">

<![endif]-->

<div
style="height:10px;"
>
&nbsp;
</div>

<!--[if mso | IE]>

</td></tr></table>

<![endif]-->


</td>
</tr>
<!-- SOCIALS ENDING -->




        <tr>
          <td
          align="center" style="font-size:0px;padding:10px 0 15px 0;word-break:break-word;"
          >

  <div
      style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:16px;font-weight:regular;line-height:18px;text-align:center;color:#4A4A4A;"
  >
    <p style="margin-bottom:0px;">
    {$shop_name}
    </p>
  </div>

          </td>
        </tr>

        <tr>
          <td
          align="center" style="font-size:0px;padding:0 0 20px;word-break:break-word;"
          >

  <div
      style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:16px;line-height:20px;text-align:center;color:#818181;"
  >
    <p style="margin-bottom:0px;">
  {if !empty($shop_addr1)}{{$shop_addr1}}{/if}
  {if !empty($shop_addr2)}<br>{{$shop_addr2}}{/if}
  {if !empty($shop_zipcode) || !empty($shop_city)}<br>{/if}{if !empty($shop_zipcode)}{{$shop_zipcode}}{/if} {if !empty($shop_city)}{{$shop_city}}{/if}
  {if !empty($shop_country)}<br>{{$shop_country}}{/if}
  </p>
  </div>

          </td>
        </tr>

        <tr>
          <td
              align="center" style="font-size:0px;padding:0;word-break:break-word;"
          >

  <div
      style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:16px;line-height:20px;text-align:center;color:#818181;"
  >
    <p style="margin-bottom:0px;">
  {if !empty($shop_phone)}{{$shop_phone}}{/if}
  {if !empty($shop_fax)}<br>{{$shop_fax}}{/if}

  </p>
  </div>

          </td>
        </tr>

  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>

  <table
      align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
  >
    <tr>
      <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
  <![endif]-->


  <div  style="Margin:0px auto;max-width:600px;">

    <table
        align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;"
    >
      <tbody>
        <tr>
          <td
              style="direction:ltr;font-size:0px;padding:20px 0;padding-top:0;text-align:center;vertical-align:top;"
          >
            <!--[if mso | IE]>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">

    <tr>

        <td
            class="" style="vertical-align:top;width:600px;"
        >
      <![endif]-->

  <div
      class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;"
  >

  <table
      border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%"
  >

        <tr>
          <td
              align="center" style="font-size:0px;padding:10px 0 5px;word-break:break-word;"
          >

  <div
      class="cap-email_preview_unsubscribe"
      style="font-family:Arial, Open-sans, Helvetica, sans-serif;font-size:14px;line-height:16px;text-align:center;color:#9B9B9B;"
  >
{if !isset($template_datas[$employeeLangId]['email_unsubscribe']) || empty($template_datas[$employeeLangId]['email_unsubscribe'])}Unsubscribe{else}{$template_datas[$employeeLangId]['email_unsubscribe']}{/if}
  </div>

          </td>
        </tr>

  </table>

  </div>

      <!--[if mso | IE]>
        </td>

    </tr>

              </table>
            <![endif]-->
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <!--[if mso | IE]>
      </td>
    </tr>
  </table>


    <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td height="35" style="vertical-align:top;height:35px;">

<![endif]-->

  <div
      style="height:35px;"
  >
    &nbsp;
  </div>

<!--[if mso | IE]>

    </td></tr></table>

<![endif]-->


  </div>

  </body>
</html>
