body#module-blockblog-blog #content-wrapper, #module-blockblog-tag  #content-wrapper {
    width: 100%;
}

.post-page .body-post {
    font-size: 14px;
    line-height: 21px;
    margin: 10px auto 60px;
    max-width: 700px;
}

.post-page .body-post p {
    text-align: justify;
}

.contour {
    padding: 30px 0;
    background: white;
    border: 1px solid rgba(236, 102, 39, 0.14);
    text-align: center;
}

.card1 .contour {
    margin-top: -90px;
}

.contour p {
    font-family: 'Archivo Narrow';
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.83);
}

.contour h2 {
    font-family: 'Hammersmith One';
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
}
.contour h2:hover{
    color: #eb6736;
}

#module-blockblog-blog .page-item:last-child .page-link{
    border-bottom-right-radius:100%;
    border-top-right-radius:100%;
}

#module-blockblog-blog .page-item:first-child .page-link{
    border-bottom-left-radius:100%;
    border-top-left-radius:100%;
}

#module-blockblog-blog .breadcrumb .container {
    padding: 0px;
}


.tagblo{
    margin-bottom: 60px;
}
a.lls {
    font-family: 'Archivo Narrow';
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
/* identical to box height */
    text-align: justify;
    text-decoration-line: underline;
    letter-spacing: 0px;
    color: EC6736;
    transition: 0.5s;
}

a.lls:hover {
    color: rgba(0, 0, 0, 0.83);
}

.blog-posts .card1 img.img-responsive,.blog-posts .card2 img.img-responsive,.blog-posts .card3 img.img-responsive {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.card2 .imgcard {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.card3 .imgcard {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.card2 .contour {
    margin: 50px 0;
}

.card3 .contour {
    margin-top: 50px;
    margin-bottom: 50px;

}

.card1 .imgcard {
    padding: 0;
}

article {
    margin: 75px 0;
}

.blog-header-toolbar{
    border: none;
    padding: 0;
}

.card{
    border: none;
}

h1.page-heading.blog-category-title {
    font-family: 'Hammersmith One';
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    color: #0F3447;
}

.blog-category-title {
    margin: 60px 0;
}

h1.page-heading.blog-category-title {
    font-family: 'Hammersmith One';
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    color: #0F3447;
    display: inline-block;
}

#module-blockblog-blog ol {
    display: inline-block;
    float: right;
    margin: 60px 0;
}
#module-blockblog-blog .bggris .breadcrumb a {
    line-height: 30px;
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #888888;
}

.other-posts ul li, .rel-products-block li, .rel-products-block .product-name{
    color:#0F3447
}
#module-blockblog-blog .bggris {
    background: rgba(230, 230, 230, 0.37);
}

#module-blockblog-blog .form-group:nth-child(3) {
    display: unset !important;
}

#module-blockblog-blog nav.breadcrumb.hidden-sm-down {
    margin-bottom: 0;
}
.toolbar-paging {
    background: none;
}



.no-padding{
    padding: 0 !important;
}


.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover, .page-item .page-link {
    background: #EC6736;
    color: white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 12px 10px;
    font-size: 14px;
    line-height: 16px;
    border-color: #EC6736;
    text-align: center;
    margin: 3px;
}

.page-item .page-link {
    background:#F5F5F5;
    color: #0F3447;
}

.toolbar-paging nav {
    text-align: right;
}

.top-post img {
    width: 20px;
    margin-right: 15px;
    transform:translateY(-2px);
}

.top-post {
    display: flex;
    justify-content: space-around;
}

.top-post p {
    font-family: 'Archivo Narrow';
    font-size: 22px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.83);
}

body#module-blockblog-blog img.img-responsive1 {
    width: 100%;
}

span.tags-blockblog-txt {
    font-family: 'Hammersmith One';
    font-size: 16px;
    line-height: 31px;
}

a.tag-blockblog {
    font-family: Archivo Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 34px;
}

.rel-products-block .product-name:hover {
    color: #eb6736;
}

.body-post h2 {
    text-align: center;
    margin: 30px 0;
}

.body-post h3 {
    margin: 30px 0 10px 0;
    font-size: 14px;
    font-weight:700;
}

.post-page h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0 40px 0;
}
.other-posts .block-content a:hover{
    color: #eb6736 !important;
}
.other-posts ul li, .rel-products-block li, .rel-products-block .product-name {
    list-style: initial !important;
    list-style-position: inside!important;
    font-family: 'Archivo Narrow';
    font-weight: normal;
    font-size: 15px;
    margin-left: 10px;
    line-height: 15px;
    text-align: justify;
    width: 100%;
    border:none;
    padding:0 0 20px 0;
    max-width: 90%;
}

.rel-products-block {
    margin: 0;
}

ul.row-custom {
    margin-bottom: 0;
}

#leaveComment .form-horizontal .control-label, #leaveComment .form-horizontal .radio, #leaveComment .form-horizontal .checkbox, #leaveComment .form-horizontal .radio-inline, #leaveComment .form-horizontal .checkbox-inline {
    text-align: left;
    line-height: 14px;
}

.cetoi {
    transform: translateY(-6px);
}

.leaveComment-title {
    padding-left: 35px;
}
// #leaveComment button:hover, #leaveComment input[type="button"]:hover, #leaveComment input[type="reset"]:hover, #leaveComment input[type="submit"]:hover {
//     background: rgba(136, 136, 136, 0.65);
// }

#leaveComment button, #leaveComment input[type="button"], #leaveComment input[type="reset"], #leaveComment input[type="submit"] {
    float: right;
    // background: white;
    // border: 1px solid rgba(136, 136, 136, 0.65) !important;
    // box-sizing: border-box;
    // border-radius: 5px;
    // font-family: 'Archivo Narrow';
    // font-weight: normal;
    // font-size: 22px;
    // line-height: 31px;
    // color: #0F3447;
    // transition:0.5s;
}


div#leaveComment {
    background: none;
}

.add-comment-form {
    background: none;
    padding: 20px 0;
}

#leaveComment .form-control {
    background: #FFFFFF;
    border: 1px solid rgba(136, 136, 136, 0.65);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Archivo Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    padding: 5px 20px;
    color:#0F3447;
}

#leaveComment .form-control::placeholder {
    color: rgba(136, 136, 136, 0.65);
}

.col-xs-9-custom.no-padding.etoi {
    transform: translateY(-13px);
}

.leaveComment-title{
    font-family: 'Hammersmith One';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 35px;
text-transform: uppercase;
margin-top:30px;
}

.post-comments-items {
    background: rgba(196, 196, 196, 0.15);
    border-radius: 20px;
    padding: 10px;
}

.post-comments-items .panel {
    background: transparent;
    box-shadow: none;
}


div#blog-items .col-sm-3 {
    border-right:1px solid #0F3447;
    margin:15px 0;
}

.ingredients1 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-top: 25px;
    margin-top: 10px;
}

.ingredients2 {
    width: 69%;
    display: inline-block;
    padding: 25px 40px;
    border: 1px solid #E5E5E5;
    margin-top: 10px;
}

.post-page .body-post .ingredients1 p {
    text-align: center;
}

p.ttingredient {
    color: #eb6736;
    font-size: 16px;
}

.artplus div {display:none;}

.artplus .plusart1, .artplus .plusart2, .artplus .plusart2 div {display: block !important;}

div#rating  .plusart1, div#rating  .plusart2{display:none;}
.instruction {
    margin: 40px 0 30px 0;
}

.instruction p {
    padding: 10px 0;
}
span.num {
    color: #eb6736;
    font-size: 20px;
}

.body-post img {
    width: 90%;
    margin: 20px 0;
    margin-left: 5%;
    height: auto;
}

body#product .other-posts ul li {
    width: 30%;
    display: inline-block;
    max-width: unset;
    margin-left: unset;
}

body#product .other-posts ul li:nth-child(3n+2) {
    margin: 0 5%;
}

.product-page-blockblog {
    display: flex;
}

h3.page-product-heading {
    text-align: center;
    margin: 40px 0;
    text-transform: uppercase;
    font-size: 25px;
}

.product-page-blockblog .block-top {
    width: 100%;
}

.product-page-blockblog .block-top img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-page-blockblog .block-content a {
    text-align: left;
}

.other-posts h4.block-heading {
    text-align: left;
    text-decoration: none;
}

.product-page-blockblog a {
    text-decoration: none !important;
    color: #0e3447 !important;
}

body#module-blockblog-tags ol {
    display: none;
}

body#module-blockblog-tags h1 {
    text-align: center;
    width: 100%;
}

body#module-blockblog-tags  #content-wrapper {
    width: 100%;
}