@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap");
p, h1, h2, h3, a {
  font-family: 'Hammersmith One' !important;
  color: #0F3447; }

.blockreassurance.col-sm-12 {
  padding: 50px 15px; }

#newsletter_block_left .block_content form::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background: url(../img/megnor/email.png) no-repeat scroll 0 20px;
  left: -88px;
  bottom: -2px;
  right: auto; }

#newsletter_block_left .block_content::before {
  content: unset; }

.footer-before {
  background: #EC6736; }

label, .label {
  color: #103447;
  font-weight: 300;
  text-align: right;
  font-size: 14px; }

#newsletter_block_left form input[type="submit"] {
  border-radius: 0;
  font-family: 'Hammersmith One';
  font-size: 18px;
  line-height: 16px;
  height: 100%;
  background: #0F3447;
  border: 1px solid #0F3447; }

#newsletter_block_left form input[type="email"] {
  border-radius: 0;
  padding-top: 3px;
  font-family: 'Hammersmith One';
  font-size: 16px;
  line-height: 25px;
  color: rgba(136, 136, 136, 0.42) !important; }

.tm_newsletterdiv.links {
  margin: auto !important;
  float: unset;
  text-align: center; }

p.text {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  padding: 0;
  text-transform: none; }

#newsletter_block_left form {
  float: unset;
  padding: 0; }

#newsletter_block_left .block_content {
  float: unset;
  margin: 37px auto 45px; }

#newsletter_block_left {
  margin: auto; }

.flexmob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-top, .ets_mm_megamenu.layout_layout3, .layout_layout3 .mm_tab_li_content, .footer-container, .footer_after_main {
  background: #0F3447 !important; }

body {
  color: #0F3447;
  font-family: 'Hammersmith One' !important;
  font-size: 14px; }

.tm-hometabcontent .big-title, #newsletter_block_left form input[type="email"], #newsletter_block_left form input[type="submit"] {
  text-transform: none !important; }

.product-title a, .btn, .pagination > div:first-child, .productpage_title, .quickview h1.h1, #product .product-tabcontent .nav-link, .breadcrumb a, #left-column .block .block_title, #right-column .block .block_title, #left-column .links .h3, #right-column .links .h3 {
  text-transform: none; }

.btn {
  background: #EC6736;
  font-family: 'Hammersmith One';
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

#_desktop_cart .cart_block .block_content .card-block .viewcart .btn.btn-primary.viewcart_button:hover, #_mobile_cart .cart_block .block_content .card-block .viewcart .btn.btn-primary.viewcart_button:hover, .btn:hover, .btn:active, .btn:focus {
  color: #EC6736;
  background: white;
  border: #EC6736 1px solid; }

.h1, .h2, .h3 {
  color: #0F3447; }

#manufacturer.layout-left-column #content-wrapper, #search.layout-left-column #content-wrapper, #my-account.layout-left-column #content-wrapper, #identity.layout-left-column #content-wrapper, #addresses.layout-left-column #content-wrapper, #history.layout-left-column #content-wrapper, #order-slip.layout-left-column #content-wrapper, #discount.layout-left-column #content-wrapper, #module-psgdpr-gdpr.layout-left-column #content-wrapper, #module-stripe_official-stripeCards.layout-left-column #content-wrapper, #ghostery-tracker-tally.layout-left-column #content-wrapper {
  width: 100% !important; }

section#content h1 {
  display: none; }

.form-group:nth-child(3) {
  display: block !important; }

section#content ul.rslides.homeslider.homeslider1 h1 {
  display: block; }

.footer-container .links {
  width: 25%; }

.footer-container .links.block:first-child {
  padding-right: 0;
  width: 25%; }

.footer_after_main.col-md-12 {
  display: none; }

body#contact.layout-left-column #content-wrapper, body#new-products.layout-left-column #content-wrapper, #best-sales.layout-left-column #content-wrapper, #prices-drop.layout-left-column #content-wrapper {
  width: 100%;
  margin: auto; }

body#contact h3 {
  display: none; }

body#module-blockblog-myblogcomments nav.breadcrumb, body#module-blockblog-useraccount nav.breadcrumb {
  float: unset; }

a#stores-page {
  display: none; }

.ets_mm_megamenu_content .container {
  background: #0e3447; }

li.close_menu {
  background: #0e3447 !important; }

body#contact .footer h3 {
  display: block; }

.products .thumbnail-container {
  text-align: center; }

.loader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.57);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/img/loader2.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5% auto; }

.loader img {
  max-width: 80px; }

.grade-stars.small-stars[data-grade="0"] .star {
  visibility: visible !important; }

.grade-stars.small-stars[data-grade="0"] .star-on {
  visibility: hidden; }

strong {
  font-weight: 700; }

a#cta-terms-and-conditions-0 {
  color: #ed6736 !important;
  text-decoration: underline; }

.header.blockcart-header a.cart:hover > .shopping-cart {
  background: transparent url(../img/megnor/Icon.png) no-repeat scroll 0px -669px; }

/*# sourceMappingURL=general.css.map */