#header .logo {
    max-width: 140px;
    width: 100%;
}

#search_widget,
#_desktop_user_info,
#_desktop_cart {
    margin-top: 35px;
}

#header .header-top .header_logo {
    width: 150px;
}

.ets_mm_megamenu {
    width: calc(100% - 330px);
    display: inline-block;
    margin-top: 23px;
    position: inherit;
}

li.mm_menus_li.mm_sub_align_full {
    border: none !important;
}

.mm_menus_li>a {
    font-weight: 400;
}

#header .layout_layout1 .ets_mm_block_content a:hover {
    color: #103447 !important;
}

.breadcrumb li::after {
    content: ">";
    color: #0F3447;
    margin: 0 5px;
}

.ets_mm_block.mm_block_type_category h4 {
    text-transform: unset;
    text-align: left;
    color: #0F3447;
}

#header .layout_layout3:not(.changestatus) .mm_columns_ul * {
    color: unset;
    font-weight: 400;
}

.layout_layout3 .ets_mm_block_content li>a:before {
    content: unset;
}

.layout_layout3 .ets_mm_block_content li>a {
    text-align: left;
    font-size: 20px;
    color: #888888 !important;
}

.mm_menus_li {
    float: none;
    display: inline-block;
}

body .ets_mm_megamenu.bg_submenu:before {
    left: -100vw;
}

body .ets_mm_megamenu::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -100vw;
    width: 200vw;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    z-index: 9;
    height: calc(100vh + 30px);
    opacity: 0;
    visibility: hidden;
}

.search_button::after,
.user_acc::after {
    content: unset;
}

.layout_layout1:not(.ybc_vertical_menu) .mm_menus_li:hover>a,
.layout_layout1:not(.ybc_vertical_menu) .mm_menus_li.menu_hover>a,
.ets_mm_megamenu.layout_layout1.ybc_vertical_menu:hover,
#header .layout_layout1:not(.ybc_vertical_menu) .mm_menus_li:hover>a,
#header .layout_layout1:not(.ybc_vertical_menu) .mm_menus_li.menu_hover>a,
.ets_mm_megamenu.layout_layout1.ybc_vertical_menu:hover {
    background-color: transparent !important;
}

.layout_layout1:not(.ybc_vertical_menu) .mm_menus_li>a:before {
    background-color: transparent !important;
}

.layout_layout1 .mm_menus_li.mm_has_sub:hover>a:after {
    background-color: transparent !important;
}

span.mm_menu_content_title {
    color: white;
}

span.mm_menu_content_title:hover {
    color: #EC6736;
}

.layout_layout1:not(.ybc_vertical_menu) .mm_menus_li:hover>a,
.layout_layout1:not(.ybc_vertical_menu) .mm_menus_li.menu_hover>a,
.ets_mm_megamenu.layout_layout1.ybc_vertical_menu:hover,
#header .layout_layout1:not(.ybc_vertical_menu) .mm_menus_li:hover>a,
#header .layout_layout1:not(.ybc_vertical_menu) .mm_menus_li.menu_hover>a,
.ets_mm_megamenu.layout_layout1.ybc_vertical_menu:hover {
    background: transparent !important;
}

.ets_mm_block>h4 {
    border-bottom: none;
}

#header .layout_layout1 .ets_mm_block_content a,
#header .layout_layout1 .ets_mm_block_content p,
.layout_layout1.ybc_vertical_menu .mm_menus_li>a,
#header .layout_layout1.ybc_vertical_menu .mm_menus_li>a {
    color: #888888 !important;
}

.layout_layout1 .ets_mm_block_content ul li a::before {
    content: unset;
}

.layout_layout3.ets_mm_megamenu .mm_columns_ul {
    padding: 40px 20px 20px 20px;
}

.header-top.fixed .mm_menu_content_title {
    padding: 18px;
}

#header .cart_block {
    position: absolute;
    top: 42px;
}

.mm_menu_content_title {
    padding-bottom: 20px;
}

// .ets_mm_megamenu {
//     height: 84px;
// }

.layout_layout1 .mm_menus_li {
    height: 100%;
}

#header .searchtoggle {
    display: none;
    position: absolute;
    right: 0;
    top: 29px;
    z-index: 99999999;
}

.header-top.fixed .ets_mm_megamenu {
    height: unset;
}

#header .layout_layout3:not(.changestatus) .mm_columns_ul * img {
    width: 100%;
}

.header-top.fixed img.logo.img-responsive {
    max-width: 140px;
}

.header-top.fixed div#_desktop_logo {
    margin: 10px 0;
}

.header-top.fixed .ets_mm_megamenu {
    margin-top: 10px;
}

.header-top.fixed #search_widget,
.header-top.fixed #_desktop_user_info,
.header-top.fixed #_desktop_cart {
    margin-top: 20px;
}

.ets_mm_megamenu.layout_layout1 {
    background: transparent;
}

.layout_layout1 .ets_mm_megamenu_content {
    background: transparent !important;
    border: none;
}

.blockcart .cart-products-count {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    background: #EC6736;
    color: #ffffff !important;
    font-size: 12px !important;
    line-height: 11px !important;
    padding: 4px 4px;
    position: absolute;
    right: auto;
    left: 44px;
    top: -3px;
    height: 20px;
    width: 20px;
    font-weight: 500;
    text-align: center;
    display: inline-block !important;
}

#header .layout_layout1 .mm_columns_ul .ets_mm_block>h4 a:hover {
    color: #EC6736 !important;
}

#header .layout_layout1 .ets_mm_categories li>a:hover,
.ets_mm_categories li:hover>a {
    color: #0F3447 !important;
}

.ets_mm_block_content ul li:not(.item_has_img) {
    text-align: left;
    line-height: 16px;
    margin-bottom: 10px;
}

.ets_mm_block_content ul li:not(.item_has_img) a {
    line-height: 16px;
    margin-bottom: 10px;
}

li.mm_menus_li.mm_sub_align_full.mm_has_sub h4 {
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
}
li.mm_menus_li.mm_sub_align_full.mm_has_sub h4:after,a.recettes:after,a.conseils:after  {
    top: -15px;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: -50px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: left !important;
}

li.mm_menus_li:nth-child(2) li.mm_columns_li:nth-child(1) h4:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Barbecue-bleu.png);
    left: -30px;
    top: -20px;
}
li.mm_menus_li:nth-child(2) li.mm_columns_li:nth-child(1) h4 {
    margin-left: 30px;
}
li.mm_menus_li:nth-child(2) li.mm_columns_li:nth-child(2) h4:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Plancha-bleu.png);
    top: -20px;
}
li.mm_menus_li:nth-child(3) li.mm_columns_li:nth-child(1) h4:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Accesoire-barbecue-bleu.png);
        left: -30px;
}
li.mm_menus_li:nth-child(3) li.mm_columns_li:nth-child(2) h4:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Accesoire-plancha-bleu.png);
        left: -30px;
}
li.mm_menus_li:nth-child(3) li.mm_columns_li:nth-child(1) h4 {
        margin-left: 30px;
}
li.mm_menus_li:nth-child(3) li.mm_columns_li:nth-child(2) h4 {
        margin-left: 30px;
}
li.mm_menus_li:nth-child(3) li.mm_columns_li:nth-child(3) h4:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Accesoire-cuisinier-bleu.png);
    left: -40px;
}
li.mm_menus_li:nth-child(3) li.mm_columns_li:nth-child(3) h4 {
    margin-left: 40px;
}
li.mm_menus_li:nth-child(3) li.mm_columns_li:nth-child(4) h4:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Accessoires-sur-la-table-bleu.png);
}
li.mm_menus_li:nth-child(3) li.mm_columns_li:nth-child(5) h4:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Accesoire-apres-bbq-bleu.png);
}
a.recettes:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Recettes-bleu.png);
}
a.conseils:after {
    background:url(/themes/child_PRSADD231/assets/img/icones/Conseils-bleu.png);
}
a.conseils, a.recettes{
    position: relative;
}