.video-background {
  background: #0F3447;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -99; */ }

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

span.caption {
  position: relative;
  font-family: HammersmithOne;
  font-style: normal;
  font-weight: normal;
  line-height: 87px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); }

span.caption h1 {
  font-size: 70px;
  margin: auto;
  max-width: 900px;
  text-transform: uppercase;
  color: #FFFFFF; }

li.slide {
  width: 100%;
  position: relative; }

span.caption p {
  font-size: 40px;
  color: #FFFFFF; }

.contli {
  position: relative;
  padding: 180px 20px;
  background-size: cover;
  background-position: center; }

.caption a {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* identical to box height */
  color: #0F3447;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  text-shadow: none;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.caption a:hover {
  color: white;
  background: #EC6736; }

.bg-gris {
  min-height: 584px;
  padding: 50px 0; }

.bg-gris img {
  height: 100%;
  width: 100%;
  max-height: 484px;
  -o-object-fit: contain;
     object-fit: contain; }

.bg-gris:before {
  height: 100%;
  width: calc(100% + 200px);
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(196, 196, 196, 0.15);
  content: '';
  z-index: -1; }

.slide.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

p.nouveau {
  font-family: 'Hammersmith One';
  font-size: 45px;
  line-height: 56px;
  color: #888888;
  margin-bottom: 50px; }

p.marqu {
  font-family: 'Hammersmith One';
  font-size: 70px;
  line-height: 87px; }

a.btn-orange, a.btn, input.btn-orange {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  /* identical to box height */
  border: 1px solid transparent;
  color: #FFFFFF;
  background: #EC6736;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  text-shadow: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 40px;
  display: inline-block; }

a.btn-orange:hover, a.btn:hover, input.btn-orange:hover {
  color: #EC6736;
  background: white;
  border: 1px solid #EC6736; }

.contli.demi-slide h3 {
  font-size: 40px;
  line-height: 50px;
  text-align: left; }

.contli.demi-slide {
  padding: 90px 40px;
  width: calc(50% - 30px);
  display: inline-block; }

.contli.demi-slide:nth-child(2n+1) {
  margin-right: 30px; }

.contli.demi-slide:nth-child(2n+2) {
  margin-left: 30px; }

div#spe_res li:nth-child(4n+5) {
  clear: both; }

a.lien-orange {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #EC6736;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  cursor: pointer; }

a.lien-orange:hover {
  color: #FFFFFF; }

.v2 span.caption h2, .v2 span.caption p, .v2 span.caption a {
  text-align: left;
  margin-left: 50px;
  text-transform: unset; }

.v2 span.caption {
  text-align: left; }

.slick-list.draggable {
  width: 100%; }

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev {
  left: -10px; }

.slick-next {
  right: -27px; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:before, .slick-next:before {
  content: "<";
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: rgba(162, 162, 162, 0.884);
  z-index: 2; }

.slick-next:before {
  content: ">"; }

.slick-prev:before {
  content: "<"; }

ul.rslides.homeslider {
  margin-top: 0; }

.slide.flex, .contli.demi-slide, ul.rslides.homeslider.homeslider3 {
  margin: 50px 0; }

.tm-hometabcontent .big-title {
  font-family: 'Hammersmith One';
  font-size: 32px;
  line-height: 45px;
  text-align: center; }

.tabs .nav-tabs .nav-link, .tabs .nav-tabs .nav-link.active {
  font-family: 'Hammersmith One';
  font-size: 20px;
  line-height: 25px; }

.tabs .nav-tabs .nav-link.active {
  color: #EC6736; }

ul.rslides.homeslider {
  margin: 0; }

.product-title a {
  font-family: 'Hammersmith One';
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #0F3447; }

.products .product-price-and-shipping, .product-price {
  font-size: 18px;
  line-height: 22px; }

section.tm-hometabcontent {
  margin: 50px 0; }

.tm-hometabcontent .big-title, .product-title a, .products .product-price-and-shipping, .product-price {
  color: #0F3447; }

span.caption h2 {
  font-size: 40px;
  color: white; }

.v2 span.caption p {
  color: white;
  font-size: 30px; }

.container.flexmob a.btn-orange, a.btn {
  font-size: 20px !important; }

.flexmob span.caption h2 {
  text-align: left; }

h2.slidem {
  font-family: 'Hammersmith One';
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  margin-top: 20px;
  width: 100%; }

.slide-logo {
  margin-top: 20px; }

div#custom-text {
  background: transparent; }

div#custom-text h2, div#custom-text h3, div#custom-text h4, div#custom-text p {
  color: #808080; }

div#custom-text p {
  font-size: 12px;
  /* line-height: 32px; */
  color: #808080;
  font-weight: 500;
  text-transform: none; }

/*# sourceMappingURL=home.css.map */