.h1-main.productpage_title{
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 32px;
text-align: left;
color: #0F3447;
}
.star-content.star-full.clearfix {
    margin-left: 0;
}

.etoiles>div, .etoiles p{
    display: inline-block;
}

.product-comments-additional-info {
    margin-top: 10px;
}

.etoiles p{
font-size: 20px;
line-height: 23px;
color: #888888;
}
.etoiles .grade-stars {
    transform: translateX(0);
    margin: 0; 
}

.product-comments-additional-info .etoiles .comments-note {
    margin-right: 10px;
}

.input-group.bootstrap-touchspin {
    border: 1px #0F3447 solid;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1px;
}

input#quantity_wanted {
    border: none;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-left: 15px;
}

.bootstrap-touchspin .btn-touchspin {
    border: none;
}

input#quantity_wanted {
    border: none;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0 20px;
}

.bootstrap-touchspin .btn-touchspin {
    border: none;
    position: absolute;
    right: 1px;
    top: 13px;
    z-index: 2;
}

button.btn.btn-touchspin.js-touchspin.bootstrap-touchspin-down {
    position: absolute;
    left: 1px;
    top: 13px;
    z-index: 2;
    width: fit-content;
}

.star-content {
    margin: 0 0 0 0;

}
.bootstrap-touchspin .input-group-btn-vertical {
    position: unset;
}

.bootstrap-touchspin .input-group-btn-vertical .touchspin-up:after {
    content: "\e145";
}

.bootstrap-touchspin .input-group-btn-vertical .touchspin-down:after {
    content: "\e15b";
}


.product-quantity .add {
    display: inline-block;
    float: unset;
    width: unset;
    margin-left: 70px;
    margin-top: 5px;
}

.product-brand {
    position: absolute;
    right: 20px;
    top: 0;
}

.product-brand img {
    width: 70px;
    height: 70px;
    background: transparent;
    object-fit: contain;
}

#blockcart-modal .cart-content button {
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
    background: #ffffff;
    color: #ed6736;
    border-color: #ed6736;
}

#product .product-prices {
    margin-top: 5px;
    display: inline-block;
}


button.btn.btn-primary.add-to-cart {
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    line-height: 27px;
    padding: 6px 16px;
    text-align: center;
    background: #EC6736;
    transition:0.5s;
}

button.btn.btn-primary.add-to-cart:hover {
    color: #EC6736;
    border: 1px solid #EC6736;
    background: white;
}

p#lienref:hover {
    color: #EC6736;
}

span.delivery-information.stock {
    font-size: 14px;
    line-height: 26px;
    color: #1E8504;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
    display: inline-block;
}

span.delivery-information.stock:before {content: '.';display: block;position: absolute;left: 0;top: -7px;font-size: 30px;}


p#lienref {
    display: inline-block;
    text-decoration: underline;
    font-size: 15px;
    line-height: 17px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.83);
    cursor: pointer;
    margin-bottom: 20px;
}

.product-comments-additional-info{
    cursor:pointer;
}

.product-page .product-information p.reffour {
    font-size: 13px;
    line-height: 15px;
    color: #888888;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-add-to-cart {
    margin-bottom: 30px;
}

.product-prices div {
    font-size: 30px;
    line-height: 34px;
    display: inline-block;
}

.tax-shipping-delivery-label {
    transform: translateY(-2px);
}

.col-md-6.product-content p {
    font-size: 16px;
    line-height: 19px;
    color: #0F3447;
}

body#new-products .product_item.col-xs-12.col-sm-6.col-md-6.col-lg-3, #prices-drop  .product_item.col-xs-12.col-sm-6.col-md-6.col-lg-3,  #best-sales .product_item.col-xs-12.col-sm-6.col-md-6.col-lg-3{
    width: 25%;
}

.product_item.col-xs-12.col-sm-6.col-md-4.col-lg-3, .product_item.col-xs-12.col-sm-6.col-md-4.col-lg-4 {
    width: 33%;
}

.product-images > li.thumb-container > .thumb, .images-container .product_list .thumb-container .thumb {
    border: none;
}

#product #description .product-description > p {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #0F3447;
}

#product .product-tabcontent .tabs .nav-tabs .nav-link.active, #product .product-tabcontent .tabs .nav-tabs .nav-link:focus {
    background: #EC6736;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    line-height: 22px;
}

.btn-comment-big:hover {
    background: white;
    color: #EC6736;
    border: 1px solid #EC6736;
}

button.btn.btn-comment-inverse.btn-comment-big {color: #EC6736;background: white;border: 1px solid #EC6736;transition: 0.5s;}

button.btn.btn-comment-inverse.btn-comment-big:hover {
    background: #EC6736;
    color: white;
}

#product .tabs .nav-tabs .nav-link {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

div#product-details {
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.half-carac {
    flex: 1 0 auto;
    margin: 0 1rem 1rem 0;
    width: 50%;
    h2 {
        background: rgba(196, 196, 196, 0.31);
        padding: 16px;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 25px;
        font-weight: 600;
    }
    p {
        font-size: 16px;
        line-height: 25px;
    }
    span.labelcara {
        font-weight: 600;
    }
}

.breadcrumb a{
    font-family: 'Hammersmith One';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #888888;
}


#product .product-tabcontent .nav-link {
    color: #0F3447;
}


#product .product-tabcontent .tabs {
    margin: 55px 0;
}



#product .product-tabcontent .tabs .tab-pane {
    border: none;
    overflow: hidden;
}

div#product-details.fade:not(.active) {
    height: 0 !important;
    padding: 0;
}


.comment-buttons.btn-group p {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
    color: rgba(32, 32, 32, 0.74);
    display: inline-block;
}

.comment-author {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.grade-stars {
    transform: translateX(-3px);
    margin: 15px 0;
}

.comment-date {
    font-size: 16px;
    line-height: 18px;
    color: rgba(32, 32, 32, 0.74);
}

.product-comments-additional-info button.btn.btn-comment.post-product-comment {
    background: none;
    border: none;
    box-shadow: none;
    color: #0F3447;
    text-decoration: underline;
}


.comment-content p {
    font-size: 15px!important;
    line-height: 21px!important;
    color: rgba(0, 0, 0, 0.83)!important;
}

.product-comment-list-item .comment-content h4 {
    color: rgba(0, 0, 0, 0.83)!important;
    font-size: 21px!important;;
    line-height: 27px!important;;
}

.btn-comment-big {
    padding: 6px 16px;
    background: #EC6736;
    border-radius: 50px;
    box-shadow: none;
    transition: 0.5s;
}

div#spe_res li {
    width: 24%;
    display: inline-block;
    padding: 0 10px;
}

.video {
    margin-bottom: 100px;
}
section.product-accessories.clearfix h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase !important;
    color: #0F3447;
}
.product-accessories {

span.h3.product-title a {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
     margin: 10px 0;
}

.products .product-price-and-shipping .price {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.products .product-price-and-shipping {
    margin: 10px 0;
}

span.delivery-information.horsstock {
    font-size: 18px;
    line-height: 21px;
    color: #EC6736;
}

span.delivery-information.stock {
    font-size: 18px;
    line-height: 21px;
    color: #1E8504;
}
}
.has-discount .discount {
    background: #0F3447;
}

.product-list-reviews{
    visibility: visible;
    position: relative;
    top: 0;


    .grade-stars {
        transform: translateX(0px);
        margin: 0;
    }

    .star-content {
        margin: 0;
    }
}

.products .regular-price, #cart .product-discount .regular-price {
    font-size: 14px;
    color: #888888;
}
@media (min-width:768px) {
    #category li.product_item:nth-child(3n+4) {
        clear: both;
    }
}
#category{
    span.discount-percentage {
        background: none;
        color: #ff7a5f;
        font-size: 15px;
    }

   

    

    .breadcrumb .container h1{
        font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    }


    .products-selection .sort-by{
        text-transform: none;
    }
    .block-categories .block_title a{
        font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-transform: none;
    }

    div#category-description,.products-selection .sort-by, a.select-title, .total-products, .products-sort-order .select-list {
        font-family: 'Hammersmith One';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        color: #888888;
    }
    .products-selection .sort-by, .total-products {
        line-height: 17px;
    }
    .breadcrumb ol {
        margin-left: auto;
    }

    nav.breadcrumb.hidden-sm-down .container {
        display: flex;
        align-items: center;
    }
    #js-product-list-top .col-md-6.relevence-order-short {
        width: 50%;
        float: right;
        padding: 0;
    }
    p.text-uppercase.h6.hidden-sm-down {
        font-family: 'Hammersmith One';
        font-size: 24px;
        text-transform: unset !important;
        line-height: 37px;
    }
    #search_filters .facet .facet-title {
        font-family: 'Hammersmith One';
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    #search_filters .facet .facet-label a {
        line-height: 16px;
    }

    .product-title a {
        font-family: 'Hammersmith One';
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        margin: 15px 0;
        color: #0F3447;
    }

    .products .product-price-and-shipping .price {
        font-family: 'Hammersmith One';
        line-height: 22px;
        text-align: center;
        font-size: 18px;
    }

    .new .product-price-and-shipping .price {
        font-size: 17px;
    }
    a.allproducts.btn.btn-primary:hover {
        color: #ff7a5f;
        background: white;
        border: solid 1px #ff7a5f;
    }

    .pagination{
        display: inline-block !important;
    }
}

.block-promo .promo-input + button {
    padding: 0px 10px;
}

.product-line-grid-right .bootstrap-touchspin > .form-control, .product-line-grid-right .bootstrap-touchspin > .input-group {
    color: #414141;
    background-color: #FFFFFF;
    height: 2.4rem;
    margin-left: 1rem;
    width: 3rem;
    border: none;
    text-align: center;
}

#checkout .col-md-8 {
    margin-bottom: 30px;
    width: 75%;
}

h1.step-title {
    display: block !important;
}

section#checkout-personal-information-step .nav-link.active {
    color: #ed6736;
}

#category .breadcrumb a:hover {
    color: #EC6736;
}

.cart-summary-line .value {
    color: #103447;
    float: right !important;
    font-weight: 500;
}

a#comment1 {
    text-decoration: underline;
    cursor: pointer;
}

a#comment1:hover {
    color: #ed6736;
}

#post-product-comment-modal .criterion-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#post-product-comment-modal .criterion-rating label {
    margin: 0 10px 0 0;
}

li.cart-summary-line i.material-icons:hover {
    color:#ed6736
}

div#category-description,.products-selection .sort-by, a.select-title, .total-products, .products-sort-order .select-list {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #888888;
}

body#category  .breadcrumb a{
    line-height:50px;
}

ul#additional-carousel li.thumb-container.item {
    padding: 0px 5px;
}

ul#additional-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.customNavigation {
    display: none;
}

#product input[type="button"].retour {
display: none;}

.ttcompris, .alma {
    width: 220px;
    text-align: center;
    display: inline-block;
    float: left;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.ttcompris p {
    color: #eb6736 !important;
    line-height: 150% !important;
}

.ttcompris {
    border: #eb6736 2px solid;
    margin-right: 30px;
}

.alma {
    border: #0e3447 2px solid;
}

.alma p {
    color: #0e3447 !important;
    line-height: 150% !important;
}
.ttcompris span.material-icons {
    position: absolute;
        top: -8px;
        right: -11px;
        color: #eb6736;
        font-size: 18px;
        cursor: pointer;
    }
    
    .alma span.material-icons {
    position: absolute;
        top: -8px;
        right: -11px;
        color: #0e3447;
        font-size: 18px;
        cursor: pointer;
    }

    .modal-ttcompris, .modal-alma {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        overflow: scroll;
    }
    
    .modal-ttcompris .fond, .modal-alma .fond {
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .textmod {
        position: absolute;
        top: 30%;
        margin: auto;
        background: white;
        padding: 50px;
        width: 80%;
        max-width: 700px;
    }
    
    .textmod span.material-icons {
        position:absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    
    .textmod h2:after {
        position: absolute;
        display: block;
        content: "";
        background: #eae5e5;
        height: 2px;
        width: 100%;
        left: 0px;
        margin-top: 10px;
    }

    .textmod h2 {
        margin-bottom: 30px;
    }

    body#category div#left-column2 {
        display:none;
    }
    .modal-body .fermee {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
    }
    
    .modal-body {
        padding-top: 35px !important;
    }

    #product-modal .modal-content .modal-body .arrows .arrow-up {
        position: absolute;
        top: -27px;
        opacity: 0.2;
        -khtml-opacity: 0.2;
        -webkit-opacity: 0.2;
        -moz-opacity: 0.2;
        right: 50%;
        transform: translateX(calc(50% + 7.5px));
    }

    #product-modal .modal-content .modal-body .arrows .arrow-down {
        position: absolute;
        bottom: -30px;
        right: 50%;
        transform: translateX(calc(50% + 7.5px));
    }

#product-modal .modal-content .modal-body .mask {
    margin: 2rem 0;
    max-height: 699px;
}


div#blockblogposts_block_left_spm .block-side.float-left.margin-right-10 {
    width: 100%;
    float: unset !important;
}

div#blockblogposts_block_left_spm .current-item-block {
    width: calc(25% - 21px);
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
}

div#blockblogposts_block_left_spm .items-articles-block {
    padding: 0;
}


div#blockblogposts_block_left_spm .items-articles-block .current-item-block img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}



div#blockblogposts_block_left_spm h2.text-uppercase.title_block {
        text-align: center;
    margin: 40px 0;
    text-transform: uppercase;
    font-size: 25px;
}

div#blockblogposts_block_left_spm .items-articles-block .current-item-block .item-article {
        font-family: 'Hammersmith One';
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin: 15px 0;
    color: #0F3447;
    text-decoration:none;
    text-transform:none;

}

div#blockblogposts_block_left_spm .items-articles-block .current-item-block .item-article {
    text-decoration: none;
    word-break: keep-all;
    text-transform: none;
}

div#blockblogposts_block_left_spm div#blockblogposts_block_left_spm.items-articles-block .current-item-block a.item-article:hover {
    color: #eb6736;
    text-decoration: none !important;
}



div#blockblogposts_block_left_spm .items-articles-block .current-item-block .item-article a.item-article {
    margin: 20px 0;
}

div#blockblogposts_block_left_spm .items-articles-block .current-item-block .block-content {
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div#blockblogposts_block_left_spm .items-articles-block .current-item-block img:hover {
    transform: none;
}

div#blockblogposts_block_left_spm .block-content {
    overflow: hidden;
}



div#blockblogposts_block_left_spm .current-item-block:nth-child(1) {
    margin-right: 15px;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(2) {
    margin:0 15px 0 5px;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(3) {
    margin:0 5px 0 10px;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(4) {
    margin-left: 15px;
}

div#blockblogposts_block_left_spm a.btn.btn-orange.button {
    font-weight: bold;
    font-size: 15px !important;
    border-radius: 50px;
    line-height: 27px;
    padding: 6px 16px;
    text-align: center;
    background: #EC6736;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

div#blockblogposts_block_left_spm a.btn.btn-orange.button:hover {
    color: #eb6736;
    background: white;
    border: 1px solid #eb6736;
}

body#order-confirmation #order-items {
    border: none;
}

body#order-confirmation #order-items .order-line {
    border: none;
}

body#order-confirmation .card-title.h3 {
    font-size: 14px;
}

body#order-confirmation #order-items table tr.font-weight-bold:not(.total-value) {
    display: none;
}

body#order-confirmation section.featured-products.clearfix {display:none!important}

section#content.page-not-found  {
    background: transparent;
}

.product-content .tabs{
    display: none;
}

.nondispo form {
    width: 100%;
}

.gm-cat-second-desc.card.card-block {
    padding: 15px 0;
    margin: 0 -10px;
}