@media (min-width:992px){
    body#cms .layout-left-column #content-wrapper {
        margin-left: 12.1%;
    }

}

@media (max-width: 991px){
    #product .slick-prev:before, #product .slick-next:before {
    content: "<";
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    color: rgba(118, 117, 117, 0.88);
    z-index: 2;
}

#product button.slick-prev.slick-arrow, #product button.slick-next.slick-arrow {
    display: block !important;
}

#product .slick-next {
    right: -4px;
    transform: rotate(180deg);
}

#product .slick-prev, #product .slick-next {
    top: 41%;
}
#product .slick-prev {
    left: 7px;
}
    .alma {
        margin-top: 10px;
    }
    div#blockblogposts_block_left_spm .current-item-block {
        width: calc(50% - 13px);
    }
    div#blockblogposts_block_left_spm .current-item-block:nth-child(1) {
    margin-right: 10px;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(2) {
    margin:0 0 0 10px;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(3) {
    margin:0 10px 0 0px;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(4) {
    margin-left: 10px;
}
.footer-container .links.block:first-child {
    width: 100%;
}
body#category div#left-column .sidebar-latest.block {
    display:none;
}


body#category div#left-column2 .sidebar-latest.block .collapse{
    display:block;
}

body#category div#left-column2 .category-tree {
    display:none;
}

body#category div#left-column2 .sidebar-latest.block span.navbar-toggler.collapse-icons {
    display:none;
}

body#category div#left-column2 {
    display:block;
}

body#category div#left-column2 h4.block_title.hidden-lg-up{
    display: none;
}

body#category div#left-column2 p.text-uppercase.h6.hidden-sm-down{
    display: block !important;
    margin-top: 30px;
    text-align: center;
}

body#category div#left-column2 .left-part {
    text-align: center;
    margin-top: 40px;
}
#search_widget, #_desktop_user_info, #_desktop_cart{
    display:inline-block;
    margin-top: 13px;
}

.header-top .search-widget {
    margin: 0;
    padding: 0 15px;
    position: absolute;
    right: 120px;
    top: unset;
    display: inline-block;
    left: unset;
    float: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}



.header.blockcart-header a.cart > .shopping-cart {
    margin-top: 0;
}

.blockcart .cart-products-count {
    left: 31px;
    top: 3px;
}

#header .header-top .header_logo {
    width: 150px;
    float: unset;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: auto;
    text-align: center;
    display:block;
    height: 80px;
}

.ets_mm_megamenu {
    width: 70px;
    float:left;
    margin-top: 4px !important;
}


.ybc-menu-toggle.ybc-menu-btn {
    color: white;
}
.ybc-menu-toggle .icon-bar {
    background-color: white;
    clear: left;
    float: left;
    height: 2px;
    margin: 3px 3px 1px 0;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    width: 27px;
}

#header .header-top .header_logo#mob_logo {
    display: block !important;
}



.layout_layout1 .mm_menus_li {
    height: auto;
}

span.mm_menu_content_title {
    color: #0e3447;
}

ul.mm_columns_ul {
    left: 0 !important;
    text-align: left;
}
.header-top.fixed .mm_menu_content_title {
    padding: 0;
}
}
@media (min-width:768px){
    
#header .header-top .header_logo#mob_logo {
    display: none;
}
.blockreassurance .block-title {
    margin-top: 10px;
}
.nomobile{
    display: block;
}
.mm_block_type_image .ets_mm_block_content img {
    margin-top: 0;
    perspective: 50em;
    -webkit-perspective: 50em;
    transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
.mobile{
    display: none !important;
}
}
@media (max-width:767px){
    .top-post p {
        width: 100%;
        display: inline-block;
    }
    
    .ingredients1 {
        width: 100%;
        padding-top: 0;
    }

    .ingredients2 {
        width: 100%;
    }
    .top-post {
        display: block;
    }
    
    button.slick-prev.slick-arrow ,button.slick-next.slick-arrow {
        display: none !important;
    }
    
    .contli.demi-slide {
        width: 100%;
        display: block;
        margin-left: 0;
    }
    
    .contli.demi-slide:nth-child(2n+2) {
        margin-left: 0;
    }
    
    .contli.demi-slide:nth-child(2n+1) {
        margin-right: 0;
    }
    
    div#spe_res li {
        width: 49%;
    }

    .flexmob{
        display: block;
    }

    section#wrapper {
        overflow: hidden;
    }

    .half-carac {
        width: 100%;
    }

    li.product_item:nth-child(2n+3) {
        clear: both;
    }

    main#page {
        max-width: 100vw;
        overflow: hidden;
    }


    main#page {
        max-width: 100vw;
        overflow: hidden;
    }
    
    .card3 .imgcard, .card2 .imgcard, .card1 .imgcard {
        position: relative;
        padding: 0;
    }
    
    .card2 .contour, .card1 .contour, .card3 .contour {
        margin: 0 0 50px 0;
    }
    
    .contour h2 {
        font-size: 20px;
        line-height: 30px;
    }
    
    .contour p {
        font-size: 14px;
    }
    
    a.lls {
        font-size: 18px;
    }
    
    div#newsletter_block_left {
        padding: 0 10px !important;
        max-width: 100vw;
    }
    
    .blockreassurance .block-icon img, .blockreassurance .block-icon svg {
        object-fit: contain;
    }
    
    .blockreassurance .block-title {
        line-height: 35px;
    }
    
    .blockreassurance div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .header-top{
        text-align: left;
    }

    .ets_mm_megamenu.hook-custom {
        margin-top: 10px;
    }

    .ybc-menu-toggle .icon-bar {
        background-color: white;
    }
    
    .ybc-menu-toggle {
        background-color: transparent;
        color: white;
        padding-left: 0;
        font-size: 11px;
    line-height: 15px;
    padding-top: 10px;
    }

    #search_widget, #_desktop_user_info, #_desktop_cart {
        margin-top: 13px;
    }

    .ets_mm_megamenu_content {
        background: transparent;
    }
    
    .ets_mm_megamenu.layout_layout1.show_icon_in_mobile.transition_fade.transition_floating.sticky_disabled.ets-dir-ltr.hook-custom.single_layout.disable_sticky_mobile.changestatus {
        background: #103447;
    }

    div#mob_logo a {
        display: inline-block;
    }

    .ybc-menu-vertical-button, .transition_floating .close_menu, .transition_full .close_menu {
        background: #0F3447;
    }
    .transition_floating .close_menu, .transition_full .close_menu {
        font-size: 14px;
        line-height:20px
    }
    span.mm_menu_content_title {
        color:#0F3447;
    }
    
    .layout_layout1 .mm_menus_li {
        height: auto;
    }
    
    span.mm_menu_content_title {
        padding-bottom: 0;
    }

    #header .header-top .header_logo {
        width: 150px;
        float: unset;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        text-align: center;
    }

    #header .logo {
        max-width: 110px;
    }
    .ets_mm_megamenu {
        width: 70px;
    }
    #header .header-top .header_logo{
        float: unset;
    }
    .ets_mm_megamenu_content_content {
        background: #103447;
    }
    
    div#_desktop_logo {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
    }

    
    #_desktop_cart {
        display: inline-block;
    }
    
    #_desktop_user_info {
        display: inline-block;
        margin-left: 0;
    }
    
    #header .cart_block {
        width: calc( 100vw - 0);
        position: fixed;
        /* right: 4vw; */
        top: 71px;
    }

    #_desktop_user_info .user-info, #header .header-nav .user-info {
        padding: 10px 10px 0;
    }

    #header .header-top {
        padding: 0;
    }

    .header.blockcart-header a.cart > .shopping-cart{
        margin: 0;;
    }

    span.hidden-lg-up.cart-products-count {
        position: absolute;
        left: 20px;
        top: -13px;
    }
    .blockcart .cart-products-count {
        font-size: 10px !important;
        line-height: 10px !important;
        height: 17px;
        width: 17px;
    }


#_desktop_user_info .user_bg, #_mobile_user_info .user_bg {
    margin: 0 -2px 0 12px;
}
#_desktop_user_info .user_bg, #_mobile_user_info .user_bg {
    background-position: -1px -262px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 35px;
    position: relative;
    width: 35px;
    vertical-align: middle;
}

// body#category div#left-column {
//     display:none
// }

.product_item.col-xs-12.col-sm-6.col-md-4.col-lg-3, .product_item.col-xs-12.col-sm-6.col-md-4.col-lg-4 {
    width: 23%;
    display: inline-block;
    float: unset;
}

.product-cover {
    margin-bottom: 10px;
}

.product-cover {
    margin-bottom: 10px;
}

#product .grade-stars {
    height: auto;
}

.product-comment-list-item .comment-infos {
    margin-bottom: 20px;
}

.comment-date {
    margin-top: 10px;
}


    .header.blockcart-header.dropdown.js-dropdown.open #header .cart_block {
    right: -28px;
    top: 58px;
    }

    span.caption h1 {
        font-size: 30px;
    }
    
    .contli {
        padding: 60px 20px;
    }
    
    .caption a {
        font-size: 13px;
    }
    
    .col-sm-6.bg-gris {
        width: 100%;
        position: absolute;
        opacity: 0.4;
        z-index: -1;
    }
    
    p.marqu {
        font-size: 40px;
        line-height: 60px;
    }
    
    p.nouveau {
        color: #103447;
        margin-bottom: 30px;
    }
    
    a.btn-orange {
        font-size: 13px;
    }
    
    .homeslider-container {
        max-width: 100vw;
    }
    
    .v2 span.caption p {
        line-height: 30px;
        font-size: 19px;
    }
    
    .v2 span.caption h2, .v2 span.caption p, .v2 span.caption a {
        margin-left: 15px;
    }
    
    body#index {
        max-width: 100vw;
        /* overflow: hidden; */
    }
    ul.rslides.homeslider.homeslider2 .col-sm-6 {
        margin: auto;
    }

    .ybc-menu-vertical-button, .transition_floating .close_menu, .transition_full .close_menu {
        background: #0F3447;
    }
    span.caption h2 {
        font-size: 30px;
        color: white;
    }
    .container.flexmob a.btn-orange, a.btn {
        font-size: 13px !important;
    }

    .tm-hometabcontent .big-title,h2.slidem {
        font-family: 'Hammersmith One';
        font-size: 22px;
        line-height: 35px;
        text-align: center;
    }
    a.btn-orange, a.btn {
        line-height: 24px;
        padding: 6px 15px;
    }
    #newsletter_block_left form input[type="email"] {
        font-size: 13px;
    }
    #newsletter_block_left form input[type="submit"] {
        font-size: 20px;
    }
    #category .breadcrumb .container h1 {
        font-family: 'Hammersmith One';
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 30px;
    }
    #product .product-tabcontent {
        margin-bottom: 30px;
    }
    button#comment2 i {
        display: none;
    }
    #category #js-product-list-top .col-md-6.relevence-order-short {
        width: 100%;
        float: left;
        padding: 0;
    }
    .sort-by {
        float: left;
    }
    .products-sort-order.dropdown {
        max-width: 200px;
    }
    #search_filters .facet .facet-title {
        width: auto;
        line-height: 15px;
    }

span.navbar-toggler.collapse-icons i.material-icons {
    line-height: 0.4;
}
.grade-stars{
    display: block;
}
#product nav.breadcrumb {
    display: none !important;
}

h1.h1-main.productpage_title {
    margin-top: 30px;
}
.nomobile{
    display: none;
}
.bg-gris {
    min-height: unset;
    padding: 50px 0;
}

.products-selection .sort-by {
    padding-bottom: 10px;
    width: 51%;
}

.products-sort-order {
    width: 50%;
}

.filter-button {
    transform: translateY(-10px);
    padding-right: 0;
}

body#new-products .product_item.col-xs-12.col-sm-6.col-md-6.col-lg-3, #prices-drop  .product_item.col-xs-12.col-sm-6.col-md-6.col-lg-3,  #best-sales .product_item.col-xs-12.col-sm-6.col-md-6.col-lg-3 {
    width: 50%;
}

#product input[type="button"].retour {
    background: url(../img/megnor/back_to_top.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    transform: rotate(270deg);
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    top: 80px;
    left: 15px;
    display: block;
}

#product h1.h1-main.productpage_title {
    margin-top: 60px;
}

.footer-container .links.block:first-child {
    width: 100%;
}

#left-column .products .product-description, #right-column .products .product-description {
    margin-bottom: 0;
}

#left-column .products .product-item a {
    margin: 0;
}
#header .header-top.fixed {
    background: transparent;
    padding: 0;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
}

.header-top .search-widget {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 80px;
    top: unset;
    display: inline-block;
    left: unset;
    float:unset;
    width: fit-content;
}
.header-top .search-widget form {
    margin: 0 auto;
    width: 200px;
}
#header .searchtoggle {
    display: none;
    position: absolute;
    right: 16px;
    top: 29px;
    z-index: 99999999;
}
.header-top .search-widget form input[type="text"] {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #666;
    border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    width: 100%;
}
body#product .product-comment-list-item.row .grade-stars {
    transform: translateY(30px);
}
body#product .criterion-rating .grade-stars {
    transform: translateY(-10px);
}
.alma {
    margin-top: 30px;
margin-left: calc(50vw - 125px);
}

.ttcompris {
margin-left: calc(50vw - 125px);
}

.textmod {
    top: 10%;
    padding: 50px 20px;
}
.tabs:after {
    height: 100%;
    content: '';
    position: absolute;
    width: 20px;
    opacity: 0.7;
    top: 0;
    display: block;
    right: 0;
    background: white;
    background: linear-gradient(
90deg
, rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 50%, rgba(255,255,255,1) 100%);
}

#product .product-tabcontent .tabs:after {
    height: 30px;
    content: '';
    position: absolute;
    width: 20px;
    opacity: 0.7;
    top: 0;
    display: block;
    right: 0;
    background: white;
    background: linear-gradient(
90deg
, rgba(255,255,255,0) 0%,rgba(255,255,255,0.85) 50%, rgba(255,255,255,1) 100%);
}

.product-tabcontent .tabs .nav-tabs {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: scroll;
    flex: 1 1 auto;
    flex-flow: row;
}
#product .tabs .nav-tabs .nav-item {
    padding: 0;
    float: unset;
    text-align: center;
    width: auto;
    padding: 0;
    /* width: 100%; */
    text-align: center;
}
#product .product-tabcontent .tabs .nav-tabs .nav-link {
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 6px 12px 6px;
    /* display: unset; */
    width: fit-content;
    margin: 0px 0 0 0;
    display: inline-block;
    border-right: none;
    font-weight: 500;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    flex: 1 1 auto;
}
body#product .other-posts ul li {
    width: 100%;
    display: inline-block;
}

body#product .other-posts ul li:nth-child(3n+2) {
    margin: 0 ;
}
ul.mm_columns_ul {
    left: 0 !important;
    text-align: left;
}
.header-top.fixed .mm_menu_content_title {
    padding: 0;
}

div#blockblogposts_block_left_spm .current-item-block {
    width: 100%;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(1) {
margin-right: 0;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(2) {
margin:0 0 0 0;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(3) {
margin:0 0 0 0px;
}
div#blockblogposts_block_left_spm .current-item-block:nth-child(4) {
margin-left: 0;
}

body#order-confirmation .card-title.h3 {
    display:none;
}
}









@media (max-width:350px){
    #header .header-top .header_logo {
        left: 40%;
    }
}