.panel{
    float:left;
    width: 100%;
}

.border {
    display: inline-block;
    font-size: 20px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 6px 8px;
}

#catinfo p{
    float: left;
    margin-right: 20px;
}

#catinfo button{
    font-size: 20px;
}

#catinfo button i{
    font-size: 21px;
}

#catinfo .butright{
    float: right;
}

@media (max-width: 1300px) {
#catinfo button{
    font-size: 16px;
}

.border {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 6px 8px;
}
}

@media (max-width:1100px) {
    #catinfo button {
    font-size: 13px;
}

.border {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 6px 8px;
}

#catinfo button i{
    font-size: 16px;
}
}

/*product info*/
#eci_prod{
    max-width: 1000px;
}
#eciprod_product
{
    display: grid;
    grid-template-columns: 40% 50%;
    grid-column-gap: 10%;
    margin-bottom: 20px;
}
#eciprod_images, #eciprod_bigpic_block, #eciprod_bigpic_image
{
    max-width: 100%;
}
#eciprod_bigpic_image
{
    border: 1px solid grey;
    border-radius: 5px;
}
#eciprod_thumbs_block
{
    display: grid;
    grid-template-columns: 5% auto 5%;
    justify-content: center;
    align-content: center;
    grid-column-gap: 5%;
    padding: 0;
}
.eciprod_slide_buttons_block
{
    display: grid;
    align-content: center;
}
.eciprod_slide_button
{
    font-size: 1.2em;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    line-height: 1em;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    background: lightgrey;
}
.eciprod_slide_button:hover
{
    color: black;
    background: none;
}
#eciprod_thumbs_list
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    padding: 0;
}
#eciprod_thumbs_list, .eciprod_thumb_image_item
{
    list-style: none;
    list-style-type: none;
}
.eciprod_thumb_image
{
    max-width: 100%;
    border: 1px solid grey;
}
.eciprod_thumb_image:hover
{
    outline: 3px solid grey;
    outline-offset: -3px;
}
#eciprod_variations_table, #eciprod_datasheet_block, #eciprod_components_block
{
    display: grid;
    margin-bottom: 20px;
}
tr.eciprod_datasheet_table_row:nth-child(even), tr.eciprod_variations_table_row:nth-child(even), tr.eciprod_components_table_row:nth-child(even)
{
    background: none;
}
tr.eciprod_datasheet_table_row:nth-child(odd), tr.eciprod_variations_table_row:nth-child(odd), tr.eciprod_components_table_row:nth-child(odd)
{
    background: lightgrey;
}
th.eciprod_variations_table_header_cell, td.eciprod_variations_table_data_cell, td.eciprod_datasheet_table_data_cell, th.eciprod_components_table_data_cell, td.eciprod_components_table_data_cell
{
    width: 30%;
    text-align: center;
}
#eciprod_infos_block label
{
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}
#eciprod_infos_block h1
{
    color: black;
}
#eciprod_infos_block p, #eciprod_infos_block td, #eciprod_infos_block th, #eciprod_infos_block div, #eciprod_infos_block a, #eciprod_infos_block span
{
    color: darkslategrey;
}
.eciprod_slide_buttons_block
{
    text-align: center;
}
#eciprod_infos_block, #eciprod_variations_table, #eciprod_datasheet_block, #eciprod_components_block
{
    font-size: 1.2em;
}
.message_over{
    position: fixed;
    right: 30px;
    z-index: 100;
}
#collapse-all-associated-categories-tree{
    display:none;
}
#expand-all-associated-categories-tree{
    display:none;
}
