.panel{
    float: left;
    width: 100%;
}
.message_over{
    position: fixed;
    right: 30px;
    z-index: 100;
}
.bootstrap .pagination > li > a{
    color: grey;
}
.bootstrap .pagination > .active > a{
    background-color: grey;
    border-color: grey;
}