
.margin-item-form-top-left, .is_del, .is_show{margin-top:7px;}
.margin-item-form-top-left .badge{font-weight: bold}
.margin-item-form-top-left .badge a{color:white;text-decoration: underline}
.badge{
    background-color: #00aff0;
    font-size: 1em;
    letter-spacing: 0.0625em;
    line-height: inherit;
    padding: 1px 5px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    min-width: 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 3px 7px;
}

.badge.badge-warning {
    background-color: #fbbb22;
}

.badge.badge-success {
    background-color: #72c279;
}

.avatar-list img{
    width:40px;height:40px;background:#FFF;border:1px solid #CCC;border-radius:100%;
    margin:0px!important;position:relative;z-index:1;display:inline-block;padding:0px
}

.blockblog-table-td td{
    border:none!important;
}


.comments-suggest-to-change{color:orange;font-weight: bold}
.comments-suggest-to-delete{color:red;font-weight: bold}
.comments-suggest-to-add{color:green;font-weight: bold}




#sidebarmenutabs a.list-group-item{
    width:100%;float:left;border-radius:0px;border-right: 0px;border-top: 0px;
}

#positionsblogtabs a.list-group-item{
    width:50%;float:left;border-radius:0px;border-right: 0px;border-top: 0px;
}

#designmanagementtabs a.list-group-item {
    width: 100%;
    float: left;
    border-radius: 0px;
    border-right: 0px;
    border-top: 0px;
}

#sidebarmenutabs span.blockblog_on_off_switch,  #positionsblogtabs span.fbloginblock_on_off_switch{
    margin-right:0px;
}

#designmanagementtabs .title-order-by{
    padding: 10px 15px;font-weight: bold;
    width: 100%;
    background-color: #fff;
}


.bootstrap #sidebarmenu .nav-pills > li.active,  #blockpositions .nav-pills > li.active{
    background-color: #00aff0;
    color: #fff;
}

.bootstrap #sidebarmenu .nav-pills > li,  #blockpositions .nav-pills > li{
    background-color: #fff;
}

#sidebar-positions-blockblog, #sidebar-positions-title{padding-left:0px}

.bootstrap .nav-pills > li.active > .blockblog_on_off_switch_wrapper, .bootstrap .nav-pills > li > .blockblog_on_off_switch_wrapper{
    padding: 6px 5px 5px 5px;
}


#sidebarmenutabs .blockblog_on_off_switch_wrapper, #blockpositions .blockblog_on_off_switch_wrapper{
    float:left;
}



#sidebar-positions-blockblog > li, #sidebar-positions-title > li {
    border: 1px solid #c7d6db;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 0 #ccc;
    display: flex;
    display: -webkit-flex;
    border-radius: 3px;
}
#sidebar-positions-blockblog > li > div, #sidebar-positions-title > li > div{
    width: 100%;
}
.blockblog_on_off_switch.active{
    color: #fff;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.2) inset;
}
.blockblog_on_off_switch {
    background-color: red;
    border: 1px solid #ddd;
    border-radius: 50px;
    width: 76px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 0 0 1px 0px rgba(0,0,0,0.2) inset;
    line-height: 20px;
    color: #999;
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 15px;
    height: 22px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-family: arial;
    margin-top: 4px;
    margin-bottom: 0!important;
    letter-spacing: 0.3px;
    margin-right: 15px;
}
.blockblog_on_off_switch.active .blockblog_on_off_slider_label.on {

    width: 100%;
    opacity: 1;
    visibility: visible;
}
.blockblog_on_off_switch:not(.active) .blockblog_on_off_slider_label.off {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 100%;
    position: absolute;
    top: 0;
}
.blockblog_on_off_switch .blockblog_on_off_slider_label.off {
    position: relative;
    top: 0;
}
.blockblog_on_off_switch.active:before{
    right: 1px;
}
.blockblog_on_off_switch input.blockblog_on_off_slider {
    opacity: 0;
    max-width: 100%;
}
span.blockblog_on_off_slider_label {
    text-align: left;
    padding: 0 9px;
    width: 0;
    position: absolute;
    opacity: 0;
    left: 0;
    transition: all 0.5s;
    visibility: hidden;
    border-radius: 50px;
    overflow: hidden;
    width: 20px;
}
.blockblog_on_off_slider_label.on{
    background-color: green;
}
span.blockblog_on_off_slider_label.off {
    text-align: right;
    right:  0;
    left: auto;
    color: white;
}
.blockblog_on_off_switch:before {
    content: "";
    position: absolute;
    border: 1px solid #aaa;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: all 0.5s;
    top: 2px;
    z-index: 1;
    background-color: #f3f3f3;
    background-image: radial-gradient(#f9f9f9, #f9f9f9, #efefef, #f0f0f0);
    background-image: -webkit-radial-gradient(#f9f9f9, #f9f9f9, #efefef, #f0f0f0);
    box-shadow: 0 0 2px 3px #fff inset;
    -webkit-box-shadow: 0 0 2px 3px #fff inset;
    right: 56px;
}
.blockblog_on_off_switch:after {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: -3px;
    box-shadow: 1px -2px 4px 1px #d6d6d6;
    -webkit-box-shadow: 1px 1px 0px -1px #d6d6d6;
    position: absolute;
    border-radius: 50px;

}


#sidebar-positions-blockblog .title-sidebar,  #sidebar-positions-title .title-sidebar{
    float: left;
    font-size: 13px;
    color: #666;
    line-height: 26px;
}

#sidebar-positions-blockblog span.position_number > span, #sidebar-positions-title span.position_number > span{
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
    border: 1px solid #ccc;
    background-color: #eee;
    text-shadow: #fff 1px 1px;
    padding: 0 5px;
    width: 30px;
    position: relative;
    display: inline-block;
    min-width: 40px;
    margin-left: 25px;
    border-radius: 3px;
    height: 20px!important;
    text-align: center;
    cursor: pointer;
    line-height: 18px;
    margin-right: 15px;
}
#sidebar-positions-blockblog span.position_number,  #sidebar-positions-title span.position_number{
    float: left;
    padding: 2px 0 2px 0;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.35s;
}
#sidebar-positions-blockblog span.position_number:hover,  #sidebar-positions-title span.position_number:hover{
    background-color: #00aff0;
}
#sidebar-positions-blockblog span.position_number:hover > span:before,  #sidebar-positions-title span.position_number:hover > span:before{
    color: #fff;
}
#sidebar-positions-blockblog span.position_number > span:before,  #sidebar-positions-title span.position_number > span:before{
    content: "\f047";
    font-family: Fontawesome;
    position: absolute;
    right: 100%;
    margin-right: 7px;
    color: #666;
}


.title-order-by{
    float:left;width:100%;padding: 10px 15px;font-weight: bold;
}

#blockpositions .title-order-by{
    float:left;width:50%;padding: 10px 15px;font-weight: bold;
}


.title-order-by-blog, .title-order-by-connects{width:74%;float:left;padding: 10px 15px;font-weight: bold;}

.wrapper-title-order-by{
    float: left;padding: 6px 5px 5px 5px;
}

.wrapper-title-order-by .title-item-order-by{
    width:76px;font-weight: bold;height:22px;float:right;
}

