<?php

$text_2 = "<span id='captcha-".$this->name."2' style='color:red;font-weight:bold'><br/>".
    $this->_data_translate_custom['_commentssettings_txt_read2'].
    " <a target='_blank' href='../modules/".$this->name."/Installation_Guid.pdf' style='text-decoration:underline;font-weight:bold'>Installation_Guid.pdf</a>"
    ."<br/></span>";


$text_3 = "<span id='captcha-".$this->name."3' style='color:red;font-weight:bold'><br/>".
    $this->_data_translate_custom['_commentssettings_txt_read3'].
    " <a target='_blank' href='../modules/".$this->name."/Installation_Guid.pdf' style='text-decoration:underline;font-weight:bold'>Installation_Guid.pdf</a>"
    ."<br/></span>";


