<?php

$_desc2 = $this->_data_translate_custom['_fbcommentssettings_desc2_id'].'<br/>'.
    $this->_data_translate_custom['_fbcommentssettings_desc2_add'].
    '&nbsp;<a style="text-decoration:underline;font-weight:bold" href="http://findmyfbid.com/" target="_blank">http://findmyfbid.com/</a>'.
    '<br/><br/>';