<?php

$text_17 = "<span id='help-tabs-".$this->name."17' style='color:red;font-weight:bold'><br/>".
    $this->_data_translate_custom['_postssettings_txt_read'].
    " <a target='_blank' href='../modules/".$this->name."/Installation_Guid.pdf' style='text-decoration:underline;font-weight:bold'>Installation_Guid.pdf</a>"
    ."<br/></span>";


