<?php

$is_demo = '<div class="bootstrap">
								<div class="alert alert-warning">
									<button type="button" data-dismiss="alert" class="close">×</button>
									<strong>Warning</strong><br>
                                    Feature disabled on the demo mode
                                    &zwnj;</div>
							</div>';

echo $is_demo;

?>