/********************************************************
			Templatemela Custom Styles
********************************************************/
/*Bonjour*/
	.tm-hometabcontent .customNavigation, .special-products .customNavigation {
	position: absolute;
	z-index: 7;
	width: 100%;
	direction: ltr !important;
	text-align: right;
	clear: both;
	top: -54px;
	left: auto;
	right: 0;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	}
	.tm-hometabcontent:hover .customNavigation, .special-products:hover .customNavigation{
		opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	}
	.tm-hometabcontent .customNavigation a.prev {
	left: auto;
	right: 0;
	padding: 0 22px;
	}
	.tm-hometabcontent .customNavigation a.next {
	right: 0;
	}
	#main .images-container .js-qv-mask.mask.additional_slider .customNavigation {
	top: 50px;
	}
	/*blog*/
	.lastest_block .customNavigation a.next {
	right: 0;
	left: auto;
	}
	/*over blog*/
	 .customNavigation a.prev {
	background: url("../img/megnor/left-arrow.svg") no-repeat scroll;
	font-size: 0;
	height: 17px;
	width: 20px;
	margin: 0;
	display: block;
	cursor: pointer;
	background-size: 15px;
	}
	 .customNavigation a.next {
	background: url("../img/megnor/right-arrow.svg") no-repeat scroll;
	font-size: 0;
	height: 17px;
	width: 20px;
	margin: 0;
	display: block;
	cursor: pointer;
	background-size: 15px;
	}
	 .customNavigation a.prev:hover {
	background: url("../img/megnor/left-arrowhover.svg") no-repeat scroll;
	background-size: 15px;
	}
	 .customNavigation a.next:hover {
	background: url("../img/megnor/right-arrowhover.svg") no-repeat scroll;
	background-size: 15px;
	}
	.brands:hover .customNavigation {
	opacity: 1;
}
	.brands .customNavigation {
	display: block;
	top:50%;
	}
	.product-accessories .customNavigation {
	top: -40px;
	left: -5px;
	}
	.product-accessories:hover .customNavigation{ opacity: 1; -webkit-opacity: 0; -moz-opacity: 0; -ms-opacity: 0; -o-opacity: 0}
	.product-accessories .customNavigation a.prev {
	left: auto;
	padding: 0 22px;
	right: 5px;
	}
	.tmcategorylist .customNavigation a.next {
	right: auto;
	left: 75px;	
	}
	.special-products .customNavigation a.prev{top: -53px;}
	.special-products .customNavigation a.prev{left: auto;padding: 0 22px;right: 0; top: 0;}
/*over Bonjour*/
.tm-carousel {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
 	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-carousel .owl-item .manu_image a {
  display: inline-block;
}
.owl-carousel .owl-item .manu_image a img {
  max-width: 100%;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  /* fix */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}
/* mouse grab icon */
.grabbing {
  cursor: url("../img/megnor/grabbing.png") 8 8, move;
}
.additional_slider .customNavigation {
	top: 34%;
}
.crosssell-products:hover .customNavigation {opacity: 1;}
.crosssell-products .customNavigation {top:-45px;}
.crosssell-products .customNavigation a.next {
	right: 10px;
}
.crosssell-products .customNavigation a.prev {
	left: auto;
	padding: 0 22px;
	right: 15px;
}
.productscategory-products:hover .customNavigation {opacity: 1;}
.customNavigation {
  position: absolute;
  z-index: 7;
  width: 100%;
  direction: ltr !important;
  text-align:center;
  clear:both;
  top: 37%;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.productscategory-products .products .customNavigation{
	top: -40px;
}
.products .customNavigation a.productscategory_prev {
	left: auto;
	right: 5px;
}
.customNavigation a.productscategory_next {
	right: 10px;
}
/*.products:hover .customNavigation, .blockinstagram:hover .customNavigation{
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
}*/
.customNavigation a {
    position: absolute;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /*overflow: hidden;*/
    height: 30px;
    width: 30px;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in-out; 
    -o-transition: all 0.6s ease-in-out;
}
.customNavigation a::before{
    position: absolute;
    font-size: 30px;
    color: #000;
    font-family: fontawesome;
    left: 1px;
    top: 0;
    line-height: normal;
}
.tm-hometabcontent .customNavigation a.prev::before, .lastest_block .customNavigation a.prev::before, .product-accessories .customNavigation a.prev::before, .tmcategorylist .customNavigation a.prev::before{
	bottom: 0;
	content: "";
	height: 25px;
	left: auto;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	background: #e0e0e0;
	z-index: 9;
	width: 1px;
	display: none;
}
.customNavigation a.next::before{
   /* content: "\E5CC";
	font-family: "Material Icons";
	display: block;
	font-size: 28px;
	text-align: center;
	background-position: center;
	line-height: 26px;
	color: #cecece;
	position: absolute;*/
}
.customNavigation a.prev.blog_prev {
	left: auto;
	right: 0;
}
.customNavigation a.prev {
    left: 0;
	padding: 0 22px;
}
.customNavigation a.next {
    right: 0;
}
.customNavigation a:hover::before {
    color: #ed2738;
}
.customNavigation a:hover {
    border: none;
    background: transparent;
}
.tmcategorylist .customNavigation {
    top: auto;
	bottom: -40px;
	opacity: 1;
}
.blockinstagram .customNavigation {
    top: 51%;
	display: none;
}
.lastest_block .customNavigation {
	top: -45px;
	/*bottom: 0;
	left: auto;
	right: 0;*/
	opacity: 1;
}
.js-qv-mask.mask.additional_slider:hover .customNavigation {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1; 
}
@media (max-width: 1250px){
	.tm-hometabcontent .customNavigation {
	right: 0;
	}
}
@media (max-width: 1249px) and (min-width: 992px){
	.tm-hometabcontent .customNavigation {
	right: 0;
	}
}
@media (max-width: 991px){
	.lastest_block .customNavigation {
		top: 0;
		opacity: 1;
	}
	.tm-hometabcontent .customNavigation {
		right: 0;
		top: -43px;
	}
}
@media (max-width: 767px){
	/**/
	.brands .customNavigation {display: block;}
	.lastest_block .customNavigation {
	top: auto;
	bottom: 15px;
	left: 0;
	}
	.tm-hometabcontent .customNavigation, .special-products .customNavigation{
		opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	}
	.tm-hometabcontent .customNavigation a.prev {
	left: 0;
	right: 0;
	padding: 0 15px;
	margin: 0 auto;
	}
	/**/
	.tm-hometabcontent .customNavigation {
	right: 0;
	left: 0;
	position: absolute;
	float: left;
	width: 100%;
	text-align: center;
	top: 5px;
	}
	.special-products .customNavigation a.prev{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.special-products .customNavigation a.next{
		left: 30px;
		right: 0;
		margin: 0 auto;
	}
	.tm-hometabcontent .customNavigation a.next{ 
	right: 0;
	left: 30px;
	margin: 0 auto;}
	.tm-hometabcontent .products .customNavigation a.feature_prev {
		left: 43%;
		right: auto;
		padding: 0 22px;
	}
	.product-accessories .products .customNavigation a.prev, 
	.crosssell-products .customNavigation a.prev, .products .customNavigation a.productscategory_prev{
		left: 0;
	padding: 0 22px;
	right: 0;
	margin: 0 auto;
	}
	.productscategory-products .products .customNavigation {top: -15px;}
	.crosssell-products .customNavigation {top: -17px;}
    .product-accessories .customNavigation {top: -15px;}
	.product-accessories .customNavigation a.next, .crosssell-products .customNavigation a.next,
	.products .customNavigation a.productscategory_next {
    left: 0;
    right: -20px;
    margin: 0 auto;
		}
  .customNavigation{
    opacity: 1;
     -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
  }
}
@media (max-width: 479px){
	
    .tm-hometabcontent .customNavigation{ top: -10px; }
    .customNavigation a.next {left: auto;}
  .customNavigation{top: 24%;}
  
  
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
}