/********************************************************
	RTL Right - to - Left Styles
********************************************************/

body,
#search_filters .js-search-filters-clear-all,
body#checkout section.checkout-step #customer-form .form-control-label, body#checkout section.checkout-step #delivery-address .form-control-label, body#checkout section.checkout-step #invoice-address .form-control-label, body#checkout section.checkout-step #login-form .form-control-label {
    text-align: right;
}
label,
.label {
    text-align: left;
}

/*Bonjour*/
.search-widget {
	float: left !important;
}
#_desktop_top_menu {
	text-align: right;
	float: left;
}
#_desktop_language_selector::after {
	left: 0;
	right: auto;
}
#header .searchtoggle {
	right: auto;
	left: 0;
}
.lastest_block .bx-controls .bx-controls-direction .bx-prev {
  right: auto;
  left: 18px;
}
.lastest_block .bx-controls .bx-controls-direction .bx-next {
  right: auto;
  left: 0;
}
#index .blog-item .blog-image {
	float: right;
}
.lastest_block .blog-item .blog-content-wrap {
  float: right;
}
/*.blog-item .blog-content-wrap {
	right: 100px;
	left: 20px;
}*/
.lastest_block .blog-item .blog-image img {
  margin-right: 0;
  margin-left: 15px;
}
.desc_blog {
	text-align: right;
	float: right;
}
#index .blog-item .blog-content-wrap .blog-shortinfo {
	text-align: right;
	float: right;
}
.lastest_block .customNavigation a.next {
	right: 128px;
	left: auto;
}
.lastest_block .customNavigation {
	top: auto;
	bottom: 25px;
	right: 190px !important;
	left: auto !important;
	opacity: 1;
}
.lastest_block .customNavigation a.prev {
	left: auto !important;
	padding: 0 22px;
	right: 49px !important;
}
.lastest_block .customNavigation a.next {
	left: 220px !important;
	right: 0 !important;
}

/*Newsletter Popup*/
.newsletter-form .button {
    left: 0;
    right: auto;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.newsletter-checkbox {
    text-align: left;
}
.tm-newsletter-popup-close .tm_close {
    right: auto;
    left: -13px;
}
.newsletter-input-email {
    padding: 0 20px 0 40px;
}
.newsletter-form .button .arrow_forward {
    position: relative;
    left: 5px;
}

/*over Bonjour*/

@media (min-width: 544px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, {float: right;}
}
@media (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {float: right;}
}
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {float: right;}
	.tabs .nav-tabs .nav-link {
	margin: 0 !important;
	}
}
#header #_desktop_top_menu.menu > ul > li a:last-child{ border-left: none; }

#header #_desktop_top_menu.menu > ul > li::after{
  left: auto;
  border-left: 1px solid #333;
  border-right: none;
  right: 0;
}
#header #_desktop_top_menu.menu > ul > li:first-child::after{ border-left: none; }
.footer-container .block-social li {
	margin-left: 0;
	margin-right: auto;
}
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-1=6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 {float: right;}
  .footer-container #tmpaymentcmsblock{width: 21%}
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.contact-rich .icon,
.products-selection .display li {
    float: right;
}

.pagination .page-list {
    float: left;
}
body#checkout .custom-checkbox { float: right;}
.float-xs-right {
  float: left !important;
  text-align: left;
}
/******* Header ********/
.footerblock1, .footerblock2, .footerblock3, .footerblock4 {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.service-content {
  float: right;
  width: 100%;
}
.footer_top_inner .footerblock .image1, .footer_top_inner .footerblock .image2, .footer_top_inner .footerblock .image3, .footer_top_inner .footerblock .image4 {
  float: right;
}
.footer_top_inner .footerblock .image{margin: 0 0 0 20px;}
.service-desc1, .service-desc2, .service-desc3, .service-desc4 {
  float: right;
  width: auto;
  text-align: right;
}
.top-menu .sub-menu ul[data-depth="1"] > li {
  padding: 0 0 0 20px;
}
#_desktop_currency_selector{ 
float: left;
text-align: right;
display: none;
}
#header .header-nav .left-nav{ float: right;}
#header .left-nav #_desktop_contact_link {
  float: right;
  margin-right: 0;
  margin-left: auto;
}
#contact-link::before {
    right: -15px;
    left: auto;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}
#_desktop_language_selector{ 
float: left;
padding: 0 0 0 40px;
display: none;
}
.products-sort-order{
  width: 76%;
}
#header .header-nav #contact-link:hover {
  background-position: right 0 top 6px; 
}
.top-menu a[data-depth="0"]:first-child {

    padding-right: 0;
    padding-left: 20px;
}
.search-widget form button[type=submit] {
    left: 15px;
    right: auto;
	
}
#products .product-description, .products .product-description, .product-accessories .product-description {
    text-align: center;
}
#_desktop_language_selector ul, #_desktop_currency_selector ul {
  left: auto;
  right: 0;
}
#header .header-nav .blockcart {
    margin-left: 0px;
    padding-left: 0px;
}
.header.blockcart-header .cart:hover{
    background-position: right 0 top -119px;
}
#header .cart_block {
    left: 0px;
    right: auto;
}
.cart_block .cart-item .cart-image {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
}
.cart_block .cart-item .cart-info .remove-from-cart {
    left: 0px;
    right: auto;
}
.cart_block .cart-item .cart-info {
    text-align: right;
    padding-right: 0px;
}
.cart_block .cart-item .cart-info .product-quantity {
    padding-left: 5px;
    padding-right: 0px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"] li a {
    padding-left: 0px;
	padding-right: 30px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="3"] li a {
    padding-left: 0px;
	padding-right: 30px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="4"] li a {
    padding-left: 0px;
	padding-right: 40px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu li > a {
    padding: 10px 20px 10px 10px;
}

.products-section-title{ float: right;}

  .title-before::before{
    left: auto;right: -5px;
  }

 .footer-container .title1::after{
    right: 0;
    left: auto;
 }
  .testimonial_inner .test-content{
    float: right;
    margin: 0 0 0 30px;
  }
  .testimonial_inner .test-desc{
    text-align: right;
  }
  .testimonial_inner .content::after{
    left: 0;
    right: auto;
  }
/******* Product ********/
.pagination {padding: 0 10px;}
.products .product-miniature .product-flags .on-sale {
    left: 10px;
    right: auto;
}
.products .product-miniature .online-only{
    right: 10px;
    left: auto;
}
.product-flags li.on-sale, .product-flags li.discount{
	left: 10px;
	 right: auto;
}
.products .product_list {
    padding: 0px;
}
#products .products .list li.product_item .center-block {
    text-align: right;
    padding-right: 15px;
    padding-left: 0;
}
.product-add-to-cart .control-label{ float: right;}
.product-actions .control-label,
.product-actions-main .control-label{ margin-left: 10px; margin-right: auto;}

li.product-flag.new {
  right: 10px;
   left: auto;
}
li.product-flag.discount {
    left:10px; 
	right: auto;
}
li.product-flag.online-only {
  right: 6px;
  left: auto;
}
li.product-flag.on-sale{ left: 10px; right: auto;}
.products .product_list li.product_item {
    float: right;
}
.product-quantity .qty,
.product-quantity .input-group-btn-vertical {
    float: right;
}
.product-quantity .add {
    float: right;
}
#blockcart-modal .modal-title i.material-icons {
  margin-left: 7px;
  margin-right: auto;
}
.social-sharing li{ margin-left: 4px; margin-right: auto;}
.quickview .product-actions .control-label,
.quickview .product-actions-main .control-label{ float: right; margin-left: 30px; margin-right:0;}
#header .left-nav .block-social.links{ float: right;}
/******* General ********/
#new_comment_form .title {text-align: right;}
#id_new_comment_form .product.clearfix {text-align: right;}
#new_comment_form .product .product_desc {float: right;}
.new_comment_form_content h2 {text-align: right;}
#new_comment_form #criterions_list label {float: right;margin: 0 0 0 10px;}
#new_comment_form div.star {float: right;}
#new_comment_form label {text-align: right;}
.row.required {text-align: right;}
.fr {float: right;}
.first-content.main-content {
  text-align: right;
  float: right;
  position: relative;
}
.second-content.main-content {
  float: left;
}
.cms_offer2 {text-align: left;}
.cms_offer3 {text-align: left;}
.cms-img {float: left;}
.cms-block3 {float:right;}
.text-cms{
  float: left;
  padding: 92px 45px 0 0;
}
.cms_offer4 {
  float: right;
  text-align: right;
}
.cms_offer6 {
  float: right;
  text-align: right;
}
.cms_content {float: right;}

ul,
ol {
    padding-right: 0;
}
#right-column {
    padding-right: 22px;
    padding-left: 0px;
	float:left;
}
#left-column {
    float: right;
    padding: 0 0 0 15px;
}
.layout-left-column #content-wrapper{ padding-left:0px; padding-right:15px; }
.layout-right-column #content-wrapper{ padding-left:15px; padding-right:0px; }
.top_button {
    left: 15px;
    right: auto!important;
}
.owl-wrapper-outer, .flexslider {
    direction: ltr!important;
}
.flexslider .caption-description {
    left: auto;
    right: 100px;
}
#links_block_left.block.col-md-4.links #tm_blocklink a{ background: url(../img/megnor/location.png) no-repeat scroll left 1px; padding-right: 0;
padding-left: 30px; }
#links_block_left.block.col-md-4.links #tm_blocklink a:hover{ background: url(../img/megnor/location.png) no-repeat scroll left -209px; }
.tabs .nav-tabs .nav-item{ padding: 0 0 0 5px;}
.tabs .nav-tabs .nav-item::after {
  right: auto;
  left: 0;
}
.tabs .nav-tabs .nav-link {
  margin: 0 0 0 7px;
}

.block_newsletter form .col-xs-12.news-text {
  margin: 0 42px 0 0;
  padding: 0 0 0 50px;
}

.block_newsletter form input.btn {
 float: right !important;
 
}
.block_newsletter{
  padding-right: 0;
  padding-left: 100px;
}
.pull-xs-right,
.cart-summary-line .value {
    float: left !important;
}
.pull-xs-left {
    float: right !important;
}

#block-reassurance img {
    margin-left: 10px;
    margin-right: 0px;
}

#search_filters .js-search-filters-clear-all .material-icons {
  margin-left: 0;
}
.btn-primary .material-icons,
.btn-secondary .material-icons,
.btn-tertiary .material-icons {
    margin-right: 0px;
    margin-left: 5px;
}
.block-categories .block_content .collapse-icons {
    right: auto;
    left: 0px;
}
.custom-checkbox input[type="checkbox"] + span {
    margin-left: 3px;
    margin-right: 0px;
}
.products-selection .display {
    float: right;
    margin: 3px 0 0 15px;
}
.products-selection .sort-by {
    padding-left: 5px;
    padding-right: 0;
}
.pagination .page-list li{ margin: 0 10px 0 0;}
.pagination a .material-icons {
    margin-left: 0px;
    margin-right:0px;
}
.products-sort-order .dropdown-menu {
    right: 0;
}
#product-availability {
    margin-left: 0px;
    margin-right: 10px;
}
#blockcart-modal .cart-content {
    padding-right: 2.5rem;
    padding-left: 0;
}
#blockcart-modal .divide-right, #order-items {
    border-left: 1px solid #ddd;
    border-right: 0px;
}
#blockcart-modal .cart-content button {
    margin-right: 0;
    margin-left: 10px;
    float: right;
}
.cart-summary-line .label {
    float: right;
}
body#checkout .custom-checkbox span,
body#checkout section.checkout-step .custom-radio{	
    margin-left: 4px;
    margin-right: 0px;
}
.page-addresses .address .address-body {
  padding: 20px 0 0 20px;
}
.page-addresses .address .address-footer a {
  margin-left: 10px;
  margin-right: auto;
}
body#checkout section.checkout-step .payment-options .custom-radio {
  margin-left: 15px;
  margin-right: auto;
}
body#checkout .additional-information {
  margin-left: auto;
  margin-right: 2.875rem;
}
#identity .radio-inline, #authentication .radio-inline {
  padding: 0 0 0 10px;
}
.custom-checkbox label {
  text-align: right;
}
.nav-inline .nav-item + .nav-item, .nav-inline .nav-link + .nav-link {
  margin-right: 1rem;
  margin-left: auto;
}
.done{
    margin-left: 1.5625rem;
    margin-right: 0;
}
.modal-header .close{
	left: 0;
	right: auto;
}
.block-categories .category-sub-menu li[data-depth="1"] {
	margin-right:15px;
	margin-left: 0;
}
.page-footer .account-link{ 
    margin-left: 1rem;
    margin-right: 0;
}
body#checkout section.checkout-step .delete-address .delete, body#checkout section.checkout-step .delete-address .edit, body#checkout section.checkout-step .edit-address .delete, body#checkout section.checkout-step .edit-address .edit{
	padding-right: 0px;
	padding-left: 22px;
}
#blockcart-modal .modal-title{ text-align: right !important; }
#_desktop_cart{float: left;margin-left: 0;}
#tmcmsblock .cmsbanner {float: right;margin: 0 0 0 21px;}
.tmcmsabout_block .right-block .servicecms .content{float: left;padding: 0 30px 0 0;}
.product_inner_cms{float: right;text-align: right;}
.cms_face .material-icons.quotes{
  /*float: right;*/
  transform: rotateY(-180deg);
   -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}
.products .gridcount.list .comments_note{ text-align: right; }
.test_name {
	margin-left: 0;
	margin-top: 0;
	text-align: right;
}
#newsletter_block_left form input[type="submit"] {

  border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  line-height: 15px;
  position: absolute;
  left: 0;
  right: auto;
}
#newsletter_block_left form input[type="email"] { padding: 0 15px 0 140px; text-align: right;}
.footer-container .links{float: left;text-align: left;}
.footer-container .block-social li::before{left: auto;right: 0;}
.footer-container #tmpaymentcmsblock{float: right;}
.blog-item .blog-content-wrap .title a{ text-align: right; float: right; }
.secondary-blog .blog-item .readmore, .secondary-blog .blog-item .blog-content-wrap .blog-shortinfo,
#blog-listing .blog-item .blog-content-wrap .blog-shortinfo{text-align: right;}
#blog-listing .blog-item .readmore{ text-align: right; }
.footer-container #tmpaymentcmsblock {
  display: inline-block;
  position: relative;
  width: 20%;
  padding: 0 0 20px 20px;
  border-left: 1px solid #333;
  border-right:none;
}
#productCommentsBlock .clearfix{ text-align: right; }
.fancybox-close {
  right:auto;
  top: -18px;
  left: -18px;
}
.flex-direction-nav {
  right: 7.6%;
  left: auto;
}
.footer-container .block-contact.links {width: 23%;padding: 0 0 20px 25px;}
.parrellex_content {float: left;text-align: left;}
.footer-container .links {
  padding: 0px 85px 20px 0;
  text-align: right;
}

#tmtestimonialcmsblock .owl-controls .owl-pagination{}
#tmcategory-tabs.nav.nav-tabs{float: right;}
.testmonial-image .name{ margin-left:0; margin-right:20px;}
.title-text{ float:right;padding-left: 5px;}
.block_content .row{margin: 0;}
#tmfootercmsblock{ float:right; text-align: right;}
.block-social {float: right;}
.footer-after #links_block_footer { text-align: right; }
.footer-after #links_block_footer ul { text-align: right; }
.footer-container #links_block_footer ul li::after {left: 0;right: auto;}
.footer-container #links_block_footer ul li {padding: 0 3px 0 15px;}
.footer-after #links_block_footer ul li:lhttp://prestashop.templatemela.com/PRS04/PRS040084/Myadmin/index.php?controller=AdminLogin&token=783653c83477140924328e9992060b6fast-child {padding-left: 0;padding-right: 3px;}
.block-contact{float: right;}
.tm-hometabcontent .tabs .nav-tabs .nav-item::after{
  left: 0;
  right: auto;
}
.products .list .product_item.col-xs-12 .center-block .product-actions, .products .list .product_item.col-xs-12 .center-block .product-actions-main,
.products .product_list.list li .quick-view{ float: right; }
.product-actions .add-to-cart,
.product-actions-main .add-to-cart{float:  none;}
.products .list .product_item .product-actions-main .add-to-cart{ margin-right: 0; }
.footer-container li{ margin-right:0; margin-left:6px;}
.footer-container .block-social li{ margin-left: 3px; margin-right: auto;}
#_desktop_cart.fixed{ left:20px; right:auto;}
#search_widget.fixed{ left:90px; right:auto;}
.products-selection .display li#grid {margin: 0 0 0 10px}
#_desktop_user_info{float: left;margin: 22px 0px 0 5px;}
.discount_type_flag {
    top: 10px;
    left: 10px;
    right: auto;
}
.products .product_list li:hover .product-block-outer {
    left: 10%;
}
#_desktop_user_info .user_acc:hover .user_bg, #_mobile_user_info .user_acc:hover .user_bg {
    background: url("../img/megnor/Icon.png") no-repeat scroll -1px -400px;
}
.search_button::after {
    right: auto;
    left: -6px;
    top: 10px;
}
#_desktop_user_info .user_bg, #_mobile_user_info .user_bg{background: url("../img/megnor/Icon.png") no-repeat scroll -1px -262px;}
.products-sort-order .select-list{ text-align:right;}
.breadcrumb .container h1{ float:right;}
.breadcrumb ol{ text-align:left;}
#left-column .left-part{ float:right; margin-left:10px; margin-right:0;}
#left-column .products .product-description{ text-align:right;}
#left-column .block_content .allproducts { float: right;}
.product-miniature .product-flags .new {left: auto;right: 10px;}
.comments_note div.star, #productCommentsBlock div.star {float: none;}
.col-md-6.product-image {padding: 0;}
.col-md-6.product-content{ padding:0 30px 0 0;}
.product-quantity .qty {width: 71px;}
.block_newsletter form input { padding-right: 15px; padding-left: 0; }
.product-variants > .product-variants-item select{ padding-left:30px; padding-right:20px;}
.product-variants > .product-variants-item select{ text-align:right;}
.tabs .nav-tabs{ text-align:right; float:right;}
.product-tabcontent .tabs .nav-tabs {text-align:right;}
#product #description .product-description > p {text-align: right;}
#product .product-tabcontent .tabs .tab-pane {text-align: right;}
.product-cover .layer .zoom-in{ left:0; right:auto;}
.text-xs-right{ text-align:left !important;}
.sitemap .tree li a:before {
    content: "\E314";
    padding-left: 8px;
	padding-right:0;
}
.tabs {float: right;}
.tab-content {text-align: right;}
#product_comments_block_tab div.comment div.comment_details {
  float: right;
  border-right: 1px solid #ebebeb;
  padding-right: 20px;
  text-align: right;
  border-left: 0;
}
.product-accessories .customNavigation a.next {
  right: auto;
  left: 25px;
}
.product-accessories .products .customNavigation a.prev {
  left: 0;
  padding: 0 22px;
  right: auto;
}
#content-wrapper #search_widget {float: none !important;}
#product_comments_block_tab div.comment div.comment_author {float: right;padding-left: 25px;}
#product_comments_block_tab div.comment div.comment_author {float: right;text-align: right;}
#product_comments_block_tab div.comment div.comment_author span, #product_comments_block_tab div.comment .star_content {float: right; text-align: right;}
.header.blockcart-header a.cart{float: left;}
#product_comments_block_tab .comment_author_infos{ text-align: right; }
.header.blockcart-header a.cart > .shopping-cart{ margin: 0 5px 0 15px; }
#_desktop_cart .hidden-md-down.cart {padding-right: 12px;}
.footer-container .links.block .blog_title, .lastest_block.block.tmblog-latest {
  float: left;
  padding: 0 45px 0 0;
}
.blockcart .cart-products-count{left: 0;right: auto;}
#header .header-nav .language-selector img {margin: 0 0 0 8px;}
#tm_vertical_menu_top #top-menu {
  float: right;
  left: auto;
  right: 0;
}
.header-top #tm_vertical_menu_top #top-menu > li {float: right;text-align: right;}
.vertical-menu .top-menu a[data-depth="0"] {padding: 5px 48px 5px 15px;}
.vertical-menu .top-menu a[data-depth="0"], #tm_vertical_menu_top .more-view {background-image: url("../img/megnor/tm_arrow1.png");}
.vertical-menu .top-menu a[data-depth="0"], #tm_vertical_menu_top .more-view {background-position: right 25px top 19px;}
.vertical-menu .top-menu a[data-depth="0"]:hover,#tm_vertical_menu_top .top-menu > li:hover > a,#tm_vertical_menu_top:hover .more-view{background-position: right 25px top -24px;}
#tm_vertical_menu_top .more-wrap .material-icons {float: left;right: 0;}
#tm_vertical_menu_top .more-view {padding: 12px 48px 11px 15px;}
.vertical-menu .top-menu .sub-menu {
  transform-origin: right center 0;
   -ms-transform-origin: right center 0;
  -webkit-transform-origin: right center 0;
  right: 100%;
  left: auto;
}
/*customnavigatiion*/
#stores .page-stores .store-item-container .divide-left {border-right: 1px solid #ebebeb;border-left:none;}
#header .header-top .header_logo{
  margin-left: 0;
   margin-right: 0;
   float: right;
   text-align: right;
}
.order-message-form .text-xs-center{ text-align:left !important;}
.modal-footer{ text-align:right;}
#product-modal .modal-content .modal-body .product-images{ margin-right:15px; margin-left:0;}
#product-modal .modal-content .modal-body .arrows .arrow-up, #product-modal .modal-content .modal-body .arrows .arrow-down{ right:20px; left:auto; text-align: center;}
#product-details .label, .product-features h3{ margin-left: 10px; margin-right: auto;}
.product-features > dl.data-sheet dt.name{ margin-right: 0;}
.delivery-option .col-sm-1 {float: right;}
.delivery-option .col-xs-12 {float: right;}
#_desktop_user_info .user-info a {padding-left: 0;}
.dropdown-menu.hidden-md-down.currencies_ul {line-height: 0px;}
#_desktop_user_info .user-info{ left:0; right:auto;}
#_desktop_user_info .user-info{ text-align:right;}
.dropdown-menu{ text-align:right;}
#_desktop_user_info > .user-info .currency-selector a{ padding:0;}
.currency-selector .dropdown-menu.hidden-md-down.currencies_ul li {margin-right: 0;}
#_desktop_user_info.fixed{ left:50px; right:auto;}
#search_filters .facet .facet-label{ text-align:right;}
.top-menu .sub-menu ul[data-depth="1"] > li{ float:right;}
#tm_blocklink > li {
    background: rgba(0, 0, 0, 0) url("../img/megnor/pipe.jpg") no-repeat scroll right center;
	padding:0 14px 0 11px;
}
.language-selector .dropdown-menu.hidden-md-down.languages-block_ul,
.currency-selector .dropdown-menu.hidden-md-down.currencies_ul{float: right;}
body#checkout section.checkout-step .address-footer{text-align: right;}
body#checkout section.checkout-step .radio-block{text-align: right;}
#tm_blocklink > li:first-child{ padding-right:0; padding-left:11px;}
#header .header-top .menu::before{ right:auto; left:0;}

#tmcmsbannerblock{ float:right;}
#tmcmsbannerblock .cmsbanner{ float:right;}
#tmcmsbannerblock .cmsbanner .service-content .service-text2{ float: right; margin: 8px 120px 0 15px;}
#tmcmsbannerblock .cmsbanner .service-content .service-text1::before{ float: right; margin-left: 10px; margin-right: 0;}
#tmcmsbannerblock .cmsbanner .service-content .service-text1{
	border-left: medium none;
    border-right: 1px solid #dcdcdc;
    float: right;
    margin-left: 50px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 30px;
}
#tmcmsbannerblock .cmsbanner .service-content button span{ float:right;}
#_mobile_cart .blockcart .cart-products-count{ right: auto;left: 0; }
#_desktop_cart .blockcart .cart-products-count{margin-left: 0;margin-left: -16px; padding: 2px 3px;}
.language-selector img {margin-right: 0;margin-left: 8px;}
#_desktop_cart .cart-price {
  float: left;
  margin-right: 12px;
  text-align: left;
  margin-left: auto;

}
#_desktop_cart .cart-price .value {float: right;text-align: left;}
#_desktop_cart .cart-price .expand-more {float: left;text-align: left;}
#links_block_top {float: left;}
#tm_toplink li::before {
  background-position: right 0 top 0;
  left: auto;
  right: -7px;
}
.user_acc::after {
    right: auto;
    left: -6px;
    top: 9px;
}
#tm_toplink li:last-child {float: left;padding-left: 0;padding-right: 20px;}
#owl-demo { float: left; }
.tabs .nav-tabs li:last-child .nav-link {
    border-left: none;
}
#tm_vertical_menu_top, #tm_vertical_menu_top .block-title{ float: right;}
#brand_list li.brand .brand-inner .brand-img{ float:right;}
#brand_list li.brand .brand-inner .brand-infos{ float:right;}
#brand_list li.brand .brand-inner .brand-products{ border-right:1px solid #ddd; padding:0 30px 15px 0; border-left:none;}
.products-selection .col-md-6.hidden-md-down.total-products{ float:right;}
.products-selection .col-md-6{ float:left; padding-left: 0; padding-right: 15px;}
#tmcmsabout_block .cms_part1 .image_part .main_image {left: auto;right: 7px;}
#tmcmsabout_block .cms_part3 .part3_left_content .image_part .main_image::before, #tmcmsabout_block .cms_part2 .cms-part2_inner .image_part .main_image::before, #tmcmsabout_block .cms_part1 .image_part .main_image::before { right: 0;left: auto;}
#tmcmsabout_block .desc_part{ float: right;} 
#tmcmsabout_block .image_part {float: right;}
#tmcmsabout_block .cms_part2 .cms-part2_inner .image_part{ left: 45px;}
#tmcmsabout_block .cms_part2 .backgroun-text {left: auto;right: -10.3%;}
#tmcmsabout_block .cms_part1 .desc_part .desc_title {margin: 0 15% 15px 0;}
#tmcmsabout_block .desc_title { margin: 0 50px 15px 0;}
#tmcmsabout_block .cms_part1 .desc_part .title_border {right: -55px;left: auto;}
#tmcmsabout_block .cms_part1 .desc_part .desc_subtitle {margin: 38px 17% 0 0;}
#tmcmsabout_block .desc_subtitle {margin: 25px 50px 0 0;}
#tmcmsabout_block .cms_part1 .desc_part .read_morebtn {margin: 24px 17% 0 0;}
#tmcmsabout_block .read_morebtn { margin: 35px 50px 0 0;}
#tmcmsabout_block .cms_part2 .cms-part2_inner .desc_part {text-align: left;}
#tmcmsabout_block .cms_part2 .cms-part2_inner .desc_part .desc_title { margin: 0 0 15px 31%;}
#tmcmsabout_block .cms_part2 .cms-part2_inner .desc_part .title_border {left: 0;right: auto;}
#tmcmsabout_block .cms_part2 .cms-part2_inner .desc_part .desc_subtitle {margin: 36px -2% 0 0;}
#tmcmsabout_block .cms_part2 .cms-part2_inner .read_morebtn { margin: 24px 0 0 32%;}
#tmcmsabout_block .cms_part3.container-width, #tmcmsabout_block .cms_part3 .part3_left_content {float: right;}
#tmcmsabout_block .cms_part3 .part3_left_content .image_part .main_image {left: auto;right: 7px;}
#tmcmsabout_block .cms_part3 .part3_left_content .image_part .image_border {
  float: right;
  left: auto;
  right: 0;
}

#tmcmsabout_block .cms_part3 .part3_left_content .desc_part .desc_title {margin: 0 80px 15px 0;}
#tmcmsabout_block .cms_part3 .part3_left_content .desc_part .title_border { left: auto;right: 55px;}
#tmcmsabout_block .cms_part3 .part3_left_content .desc_part .desc_subtitle {margin: 10px 80px 0 0;}
#tmcmsabout_block .cms_part3 .part3_left_content .desc_part .read_morebtn {margin: 24px 80px 0 0;}
#tmcmsabout_block .cms_part3 .part3_right_content{ float: right;}
#tmcmsabout_block .cms_part3 .part3_right_content .aboutus_content {padding-right: 100px;padding-left: 0;}
#tmcmsabout_block .cms_part3 .part3_right_content .aboutus_content .aboutus_title {text-align: right;}
#tmcmsabout_block .cms_part3 .part3_right_content .aboutus_content .aboutus_desc {
  border-right: 1px solid #d9d9d9;
  border-left: none;
  margin-right: 15px;
  margin-left: auto;
  padding: 65px 70px 90px 0;
}
.product-accessories .customNavigation {
    right: -5px;
}
#tmcmsabout_block .aboutus_title {margin-left: auto;margin-right: 20px;}
#tmcmsabout_block .cms_part3 .part3_right_content .aboutus_content .aboutus_desc .background_text {right: 47%;left: auto;}
#tmcmsabout_block .cms_part3 .part3_right_content .aboutus_content .about_sign > img {margin-right: 48%;margin-left: auto;}
.lastest_block {float: left;margin: 0 20px 0 0;}
.lastest_block .blog-item .blog-image {}
.lastest_block .sdsblog-box-content {float: right;}
.lastest_block .products-section-title {text-align: right;}
.homeblog-inner{ float: right;}
.blog-item .blog-content-wrap,.tmblog-latest .blog-item .blog-meta, .secondary-blog .blog-item .blog-meta{ text-align: right; float: left;}
.homeblog-inner .blog-meta .blog-created{ float: right;}
.lastest_block .sdsblog-box-content #blog-carousel li .blog-created .date {
  float: right;
  margin-right: auto;
  margin-left: 4px;
}
.blockcart .cart-products-count{right: auto;left: 23px;}
.lastest_block .sdsblog-box-content #blog-carousel li .blog-item .blog_content{ float: right;}
.lastest_block .sdsblog-box-content #blog-carousel li .blog-item .blog_content .title{ text-align: right;}
.cart_block .block_content .checkout.card-block{text-align: left;}
.block_newsletter {float: right;}
.block_newsletter h4 {}
.block_newsletter .block_content{ float: left;}
.block_newsletter form input {float: left;}
#product .product-actions .control-label, #product .product-actions-main .control-label {
  float: right;
  margin-left: 30px;
  margin-right: auto;
}
.lastest_block .sdsblog-box-content .bx-controls .bx-controls-direction .bx-prev {left: 16px;right: auto;}
.lastest_block .sdsblog-box-content .bx-controls .bx-controls-direction .bx-next {left: 41px;right: auto;}
#tmservicecmsblock{ float: right;}
#tmservicecmsblock .footer_top_inner .footerblock{ float: right;   border-left: 2px solid #f5f5f5; border-right: none;}
#tmservicecmsblock .footer_top_inner .footerblock:last-child {border-left: medium none;}
.brands .customNavigation a.next {left: auto !important;right: 0 !important;}
#tmcmsabout_block,#tmcmsabout_block .left_side{ 
    float: left;
  margin-left: 0;
  margin-right: auto;
}
#tmcmsabout_block .right_side, #tmcmsabout_block .right_side .right_side_bottom{ 
      float: right;
    margin-right: 0;
    margin-left: 29px;
}
#tmcmsabout_block .right_side .right_side_bottom .right_bottom_one{ float: right;}
#tmcmsabout_block .right_side .right_side_bottom .right_bottom_two{ float: left;}
.footer-container .block-contact {
  float: right;
  padding-left: 0;
  padding-right: 0;
}
.block-contact .address {background-position: right 0 top -111px;}
.block-contact .contact {background-position: right 0 top -390px;}
.block-contact .email {background-position: right 0 top -664px;}
.footer-container .col-md-4.links .block_content li a::before{right: 0;left: auto;}
.footer-container .col-md-4.links .block_content li a:hover{padding-left: 0;}
.footer-container .col-md-4.links .block_content li a:hover::before {background-position: right 0 top -37px;}
.footer-container .links {float: right;}
.footer-container .links::after{left: 0;right: auto;}
.products-selection{ float: right;}
.products-selection .col-md-6 .products-sort-order {float: left;padding-right: 0;}
.blog-meta > span {
  margin-right: auto;
  margin-left: 15px;
  padding-right: 0;
  padding-left: 10px;
}
#left-column #tmleftbanner {margin-bottom: 30px;}
.contact-form .btn.btn-primary {float: left;}
.blog-detail .extra-blogs ul {padding-left: 0;padding-right: 25px;}
#blog-localengine .comments img {float: right;}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap {margin-right: 80px;margin-left: auto;}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span {margin-left: 15px;margin-right: auto;}
.comment-capcha-image{ float: right}
#blog-localengine #comment-form .offset-md-3 {margin-right: 25%;margin-left: auto;}
.blog-meta .fa {padding-left: 5px;padding-right: 0;}
.blog-item .blog-image{ float: right;}
.blog-image .blogicons .icon.zoom::before {right: 0;left: auto;}
.blog-image .blogicons .icon.readmore_link::before { right: auto; left: 0;}
#blog-listing #pagination,.bottom-line .pagination{ float: left}
#blog-listing .product-count,.Recnet-blog .product-count.float-xs-right{ float: right !important;}
#blog-listing .pagination li, .Recnet-blog .pagination li {margin: 0 4px 0 0; float: left;}
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {float: left;margin-left: 0.125rem;margin-right: auto;}
.Recnet-blog .pagination #pagination_next a{padding: 8px 7px;}
body#checkout section.checkout-step .address {margin-left: auto;margin-right: 1.5625rem;}
#tmcmsabout_block .cms_part3 .part3_left_content .image_part .main_image:hover, #tmcmsabout_block .cms_part1 .image_part .main_image:hover{
  transform: translate(-20px, 20px);
  -webkit-transform:  translate(-20px, 20px);
  -ms-transform:  translate(-20px, 20px);
  -o-transform:  translate(-20px, 20px);
  -moz-transform:  translate(-20px, 20px);
}
#tmcmsabout_block .cms_part2 .cms-part2_inner .image_part .main_image:hover{  
	transform: translate(20px, 20px);
	 -webkit-transform: translate(20px, 20px);
	 -ms-transform:translate(20px, 20px);
	 -o-transform: translate(20px, 20px);
	 -moz-transform: translate(20px, 20px);
}
body#checkout .condition-label { margin-right: 2.5rem; margin-left: auto;}
#search_filters .custom-radio {margin-right: auto; margin-left: 0.25rem;}
.product-quantity #quantity_wanted{ float: right;}
.products .product_list.list .add-to-cart {float: right;right: 0;left: auto;}
.products .product_list.list li .quick-view{margin-right: 10px;margin-left: 0;}
.inputbutton{right: auto;left: 0;}
#newsletter_block_left form input[type="text"]{padding: 0 15px 0 140px;text-align: right;}
#newsletter_block_left form .input-wrapper::after{right: 29px;left: auto;}
.form-control-select {
  background: #ffffff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll left 0.5rem center / 1.25rem 1.25rem;
  padding-left: 2rem;
  padding-right: 12px;
  text-align: right;
}
.header.blockcart-header .checkout.card-block a {
    text-align: left;
    float: left;
}
.productscategory-products .products .customNavigation {
    top: -40px;
    right: -10px;
}
#content-wrapper .crosssell-products .customNavigation a.prev, #content-wrapper .products .customNavigation a.productscategory_prev{
  left: 0;
padding: 0 22px;
right: auto;
}
.crosssell-products .customNavigation a.next, .customNavigation a.productscategory_next{
  right: auto;
left: 25px;
}
.magnitude, #search_filters .facet .facet-label a {float: left;}
.innercms_testimonial{ margin-right: 0;margin-left: 43px;}
.product-actions .control-label,
.product-actions-main .control-label{ float: right;}
#cart .product-line-grid-right .product-price strong {font-size: 16px;}
#checkout #delivery label {text-align: right;}
body#checkout section.checkout-step .carrier-delay, body#checkout section.checkout-step .carrier-name {display: inline-block;text-align: right;}
.product-variants > .product-variants-item ul li {margin-left: 0.625rem;margin-right: auto;}
.blog-meta > span { text-align: right; }
#module-psblog-list .secondary-blog .blog-item .blog-meta { float: right; text-align: right; }
.blog-item .blog-content-wrap .blog-shortinfo { float: right; margin-bottom: 20px; }
.blog-item .blog-content-wrap .title {text-align: right;}
.vertical-menu .top-menu .pull-xs-right.hidden-sm-down .material-icons.left { 
  transform: rotate(180deg); 
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.tm-hometabcontent .products .customNavigation a.feature_prev {
  left: 0;
  right: auto;
  padding: 0 22px;
}
.tm-hometabcontent .customNavigation a.next {
  left: 20px;
  right: auto;
}
.secondary-blog .blog-item .blog-meta > span{float: right;padding-right: 0;}
#module-psblog-list .blog-content-wrap .title, #module-psblog-category .blog-content-wrap .title{text-align: right;}
.footer-before .block-social {float: left;text-align: left;}
.tm_newsletterdiv {float: right;}
#newsletter_block_left .block_content::before {left: auto;right: 0;}
.text {float: right;padding-right: 90px;padding-left: 0;}
.contact-form form {
  float: right;
  padding-left: 0px;
  padding-right: 0;
}
#search #products .page-not-found .searchtoggle {right: 0;}
#newsletter_block_left form {float: left;padding-right: 0;padding-left:0;}
@media (max-width: 1250px){
  .footer-container .links{ width: 18%; }
}
@media(max-width: 1199px){
  .footer-before .block-social {float: left;text-align: center;}
  .text-cms { padding: 50px 45px 0 0;}
  .cms_background {margin-top: -110px;}
  .cms-block3 {margin-top: 4%;}
  .footer-container .block-contact.links {width: 25%;}
  .top-menu a[data-depth="0"]:first-child { padding-left: 10px; }
  #tmcmsabout_block .right_side, #tmcmsabout_block .right_side .right_side_bottom { margin-left: 24px; }
	#_desktop_cart {margin-left: auto;margin-right: 8px;}
	.footer-after #links_block_footer {float: right;text-align: right;}
	#tmcmsabout_block .cms_part2 .cms-part2_inner .desc_part .title_border{ left: -35px;}
	#tmcmsabout_block .cms_part2 .backgroun-text{ left: -1.3%;}
	#tmcmsabout_block .cms_part2 .cms-part2_inner .image_part{ left:0;}
	#tmcmsabout_block .cms_part3 .part3_right_content .aboutus_content .about_sign > img { margin-right: 18%; margin-left: auto; width: 17%;}
	.footer-container .links.block, .footer-container .links.block:first-child { padding: 0 26px 0 0; width: 18%;}
	.footer-container .block-contact { padding-left: 0;  padding-right: 0;}
	.products-sort-order{ width: 71%;}
		#prices-drop .products .product_list.grid.gridcount .discount, #new-products .products .product_list.grid.gridcount .discount, 
		#best-sales .products .product_list.grid.gridcount .discount, #category .products 	.product_list.grid.gridcount .discount, 
		#manufacturer .products .product_list.grid.gridcount .discount, #supplier .products .product_list.grid.gridcount .discount {right: 3px; left: auto;}
		#left-column .products .product-description, #right-column .products .product-description{  text-align: right;}
		/*#left-column .right-part, #right-column .right-part{ float: right;}*/
		#cart .cart-item .product-line-grid-right .product-price stron{ font-size: 16px;}
		#password .btn-primary { margin-top: -4px;}
		#_desktop_user_info{ margin-left: 0;}
		#tm_toplink li:last-child {padding-right: 11px;}
	.footer-after #links_block_footer ul li:first-child {padding-right: 0;padding-left: 15px;}
	#cart .cart-overview .product-line-grid-right .price {padding: 0;}
}
@media (max-width: 1250px){
.lastest_block .blog-title {width: auto;}
.copyright a::after {
}
}
@media (max-width: 991px) {
    .tm-hometabcontent .customNavigation {
  right: 0;
  top:-40px;
}
  .security {
    float: right;
    width: 100%;
    text-align: right;
    margin-top: 20px;
  }
  #_mobile_user_info .user-info .account {padding: 0 30px 0 0;}
  .cms-block3 {margin-top: 0;}
  .tm-hometabcontent .customNavigation a.next{ left: auto; }
  .payment {margin: 0 auto;float: right;}

  .footer-container .block-contact.links {padding: 0 0 8px 45px;}
  .footer-container #tmpaymentcmsblock {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0;
  border-left:none;
}
  .text-cms {padding: 30px 45px 0 0;}
  .cms_background {margin-top: -160px;}
  .footer-after #links_block_footer { float: none;  text-align: center; }
  .cms_background {margin-top: 50px;}
  .footer-after #links_block_footer ul {  text-align: center; }
  .footer-after { padding: 0 !important; border-top: none; }
  .block_newsletter { padding-left: 0; }
  #tmcmsabout_block .right_side, #tmcmsabout_block .right_side .right_side_bottom {margin-left: 18px;}
   #header .header-nav .top-logo {margin-left: 0;margin-right: 9%;}
  .col-sm-3.col-xs-4.hidden-lg-up.filter-button{margin: 0 0 0 ;}
  #left-column .block .block_title, #right-column .block .block_title, #left-column .links .h3, #right-column .links .h3{margin-bottom: 0px;}
  .tmcmsabout_block .left-block{clear: right;}
  .tmcmsabout_block .right-block .servicecms .content{padding-right: 10px;}
	.social-sharing{ text-align: right; }
	.block_newsletter form .col-xs-12{ padding-right: 0px; }
	#content-wrapper,
	.layout-left-column #content-wrapper,
	.layout-right-column #content-wrapper, #left-column, #right-column{ padding-left:0px; padding-right:0px; }
	.header-top .search-widget, #search_widget.fixed{ right:auto; left:100px;}
	#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="1"] > li{ padding-left: 0;}
	#mobile_top_menu_wrapper .top-menu .sub-menu{ margin-right: 0;}
	#_mobile_user_info .tm_userinfotitle { background-position: right 0 top -240px;}
	#_mobile_user_info .tm_userinfotitle:hover { background-position: right 0  top  -300px;}
	#_mobile_user_info > .user-info a{ margin-right: auto;}
	#_mobile_user_info .user-info{ left:0; right:auto;}
	#header .header-nav .user-info{ text-align:right;}
	.user-info a i{ float:right; margin-left:10px; margin-right: 10px;}
	.language-selector .dropdown-menu.hidden-md-down.languages-block_ul li{ margin-right:0; margin-left:0px;}
	#header .header-nav .language-selector{ display:inline-block;}
	.currency-selector .dropdown-menu.hidden-md-down.currencies_ul{ float:right;}
	.testmonial-image .name{ margin-left:20px; margin-right:0;}
	.title-text{ float: none;}
	.footer-container .links{ margin:0;}
	.block-contact{ margin:0 !important;}
	.footer-container .block-social.links{ text-align:right;padding: 0;}
  #tmpaymentcmsblock{padding: 0;}
  #block-contact_list, #block-contact_list a{text-align: right;}
  #header .header-nav.fixed .cart_block{left: 0; right: auto;}
	#products .products{ margin-bottom:15px !important;}
	#left-column{ margin-top:30px;}
	#products .products .list li.product_item .center-block{ text-align:right;}
	.products-selection{ margin-bottom:20px !important;}
	.product-tabcontent .tabs .nav-tabs .nav-item{ margin-right:0;}
	.top-menu .sub-menu .menu-banners{ padding-left:0; padding-right:10px;}
	header .headerdiv{ text-align:right;}
  .products-selection .col-md-6{ float:right;}
  .payment > p { margin: 20px 0 0 10px;}
  .header.blockcart-header a.cart > .shopping-cart {
    float: right;
    margin: 0px 10px 0 15px;
    background-position: 8px -532px;
}
	.footer-container #links_block_footer ul li{padding: 0 3px 0 13px;}
	.products-selection .col-md-6:nth-child(2){ padding-right: 15px; padding-left: 0;}
	.products-selection .col-md-6 .products-sort-order {float: right;}
	#products .products-selection .col-sm-3.col-xs-4.hidden-lg-up.filter-button {  float: left;}
	.products .product_list.grid li.product_item { min-height: auto;}
	#password .btn-primary { margin-left: 0; margin-right: 0;}
  .header.blockcart-header a.cart:hover > .shopping-cart{background-position: 8px -669px;}
	.footer-container .links.block, .footer-container .links.block:first-child { padding: 5px 0;}
	#left-column .products .product-item, #right-column .products .product-item {  float: right;}
	.mobile-menu {float: right;margin: 34px 0 0 40px; left: auto;}
	#mobile_top_menu_wrapper .mobile-menu-inner{ right: -100%; left: auto; text-align: right;}
	#mobile_top_menu_wrapper.slide .mobile-menu-inner{ right: 0; left: auto;}
	.search-widget form input[type="text"], #tm_toplink, .header-nav .searchtoggle{ left: 0; right: auto;}
	#tm_toplink li, #tm_toplink li:first-child{ margin: 0;}
	#tm_toplink{ text-align: right;}
	#_mobile_currency_selector, #_mobile_language_selector{ float: right;}
	#_mobile_contact_link {float: right;text-align: right;}
	.block-social{ text-align: right;}
	.footer-container #tmpaymentcmsblock{ text-align: center;}
	#blockcart-modal .cart-content button {margin-bottom: 15px;}
	#module-psblog-blog .blog-comment-block .col-form-label {float: right;text-align: right;}
	#blog-localengine #comment-form .offset-md-3 {margin-left: auto;margin-right: 0;}
	.blockcart .cart-products-count {left: auto;right: 30px;}
}


@media (max-width: 767px){
  .pagination a{padding: 13px 16px;} 
  .blog-item{float: right;}
  .products .product_list li:hover .product-block-outer{ left: 0; }
  .text {padding-right: 0;padding-left: 0;}
  #newsletter_block_left form {padding-right: 0;padding-left: 0;}
  .cms_background {margin-top: 0;}
  .cms_offer4 {float: none;text-align: center;}
 .cms_offer6 {float: none;text-align: center;padding-left: 0;}
 .cms_content .subbutton .btn-primary {margin-top: 20px;}
 #product_comments_block_tab div.comment div.comment_details{border-right: none;}
  .cms-block3 {
  width: 100%;
  margin-bottom: 15px;
}
 /* .cms-block1 {width: 30%;}*/
  .first-content.main-content {text-align: center;float: none;position: relative;}
    .product_list.grid.gridcount .product-actions .add-to-cart,
    .product_list.grid.gridcount .product-actions-main .add-to-cart{text-align: right;}
	.block_newsletter .block_content .col-md-7.col-xs-12{ float:right;}
	#products .products.row{ margin:0 0 15px !important;}
	.products-selection{ margin-bottom:20px !important;}
	.col-md-6.product-image, .col-md-6.product-content{ padding:0;}
	.product-line-grid-right .bootstrap-touchspin{ float:right !important;}
	.block_newsletter form .input-wrapper { margin-left: auto; margin-right: 0;}
	.tabs .nav-tabs .nav-item { padding: 0;}
	#blockcart-modal .cart-content { padding-left: 0; padding-right: 0;}
	.products-selection .col-md-6:nth-child(2) { padding-left: 15px;}
	.tabs .nav-tabs .nav-link { margin: 0;}
		#module-psblog-blog .blog-comment-block .col-form-label { float: right;}
	#blog-localengine #comment-form .offset-md-3 {  margin-left: auto; margin-right: 0;}
	.product-line-grid-left{ padding-right: 15px !important;}
	#stores .page-stores .store-item-container .divide-left{ border-right: none;}
	#brand_list li.brand .brand-inner .brand-products { border-left: medium none; border-right: medium none;}
	#password .btn-primary { margin: 15px;}
	#blockcart-modal .divide-right, #order-items{ border-left: none;}
	#tmservicecmsblock .footer_top_inner .footerblock.footerblock2 {border-left: medium non}
	.pagination.row{ text-align: left;}
	#product .product-tabcontent .tabs .nav-tabs .nav-link {margin-left: 10px;margin-right: auto;}
	.products .product-price-and-shipping, .product-price{ font-size: 15px;}
	.blockcart .cart-products-count{ right: 21px; left: auto;}
	#tmcategorytabs .customNavigation a.next {left: auto !important;right: 0 !important;}
	#tmcategorytabs .customNavigation a.prev {left: 0 !important;right: auto !important;}
}

@media (max-width: 543px){
	#brand_list li.brand .brand-inner .brand-products{ padding: 0;}
}

@media (max-width: 479px){
  #products .products .list li.product_item .center-block {
  margin: 10px auto;
  float: right;
  position: relative;
  height: 100%;
}
.footer_top_inner .footerblock .image {
  margin: 0;
}
.cms-block1 {width: 85%;}
#products .products .list li.product_item .thumbnail-container{ width: 100%; }
.products .product_list.list .product-price-and-shipping {
  float: right;
  width: 100%;
  text-align: right;
}
.products .product_list.list li .product-title {
  padding: 0;
}
#products .products .list li .product-detail {
  float: right;
  text-align: right;
}
#products .products .list li .highlighted-informations {
  float: right;
  text-align: right;
}

.products .list .product_item.col-xs-12 .center-block .product-actions,
.products .list .product_item.col-xs-12 .center-block .product-actions-main {
  width: auto;
  float: right;
}
#products .products .list li.product_item .product-title a {
  text-align: right;
}
.list .comments_note div.star, #productCommentsBlock div.star {
  float: right;
}
  .cms-img {margin-top: 30px;}
  .product-quantity .qty {margin-bottom: 15px;margin-left: 10px;}
  .product-quantity .add{margin-right: 0;}
  #header .logo{float: right;}
  .image1, .image2, .image3{float: none;}
	#tmcmsblock .cmsbanner{ margin:0 0 20px 0;}
	.testmonial-image{ border:none;}
	#testimonial-carousel li.item {padding: 37px 0;}
	.products-selection{ margin-bottom:20px !important;}
	.products-selection .col-md-6, .products-selection .col-md-9  {padding: 0;}
	.col-md-6.product-image, .col-md-6.product-content{ padding:0;}
	#mobile_top_menu_wrapper{ margin:0 !important;}
	#left-column .products .product-description{ text-align:right !important;}
	.tabs .nav-tabs .nav-item{ margin-left:0;}
  .product-actions form, .product-actions-main form{float: none;}
  #testimonial_carousel{margin: 30px 0 10px;}
  .testimonial_inner .test-content{float: none;margin: 0;}
  .testimonial_inner .test-desc{text-align: center;}
	.header-top .search-widget, #search_widget.fixed { left: 0; right: auto;}
	#header .header-nav .cart-preview.active {  padding: 0;}
  .product_list.grid.gridcount .product-actions .add-to-cart,
  .product_list.grid.gridcount .product-actions-main .add-to-cart{text-align: center; left: 0;}
	.footer-container #links_block_footer ul li { padding: 0 2px 0 12px;}
	#blockcart-modal .divide-right, #order-items { border-left: medium none;}
	.product-features > dl.data-sheet dd.value, .product-features > dl.data-sheet dt.name{ margin-right: 0;}
	#blog-listing .product-count, .Recnet-blog .product-count.float-xs-right { float: left !important; width: 100%; text-align: left;}
	body#checkout section.checkout-step .step-title{ font-size: 15px;}
	body#checkout section.checkout-step.-reachable.-complete h1 .step-edit{ float: none;}
	#checkout #content .col-md-8{ padding: 0;}
	#header .header-nav .blockcart {  padding: 0;}
  #history .orders .order .label{ text-align: right; font-size: 13px;}
	#order-detail .col-sm-7.qty .col-xs-4, #order-detail .order-totals .col-xs-4 { font-size: 12px; padding: 0 5px;}
	#brand_list li.brand .brand-inner .brand-products{ padding: 0;}
	.mobile-menu {margin:25px 0 0 15px;}
	#_mobile_user_info {margin-right: 5px;}
	#header .header-nav .main_search {margin: 7px 0 0 12px;}
	#tmcategorytabs .customNavigation a.next{ right: -5px !important;}
  .lastest_block .sdsblog-box-content .bx-controls .bx-controls-direction .bx-prev {left: 0;right: auto;}
	.lastest_block .sdsblog-box-content .bx-controls .bx-controls-direction .bx-next {left: 25px;right: auto;}
	.lastest_block .blog-item .blog-image {margin-left: 0;margin-right: auto;}
	.footer-after #links_block_footer ul li:first-child { padding-left: 10px; padding-right: 0;}
	.footer-container #links_block_footer ul li {padding: 0 0 0 10px;}
	.block_newsletter h4 {}
	#cart .cart-overview .product-line-grid-right .price { padding: 0 15px;}
	.done {margin-left: 0;margin-right: 0;}
	#product .product-tabcontent .tabs .nav-tabs .nav-link{ margin-left: 0px; margin-right: auto;}
}
@media (max-width: 470px){
	#blockcart-modal .cart-content button {margin-bottom: 15px;}
}

#tmcmsblock {float: left;}
#header .right-nav #_desktop_contact_link{float: left;}
.cmscategory{float: right;}
.search-widget form input[type="text"]}{padding: 5px 30px 5px 5px;}
#product #content .product-leftside:hover .product-flags {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
}


.tm-hometabcontent .customNavigation a.prev, .special-products .products .customNavigation a.prev {
  left: 5px;
  right: auto;
  padding: 0 22px;
}
.tm-hometabcontent .customNavigation a.next, .special-products .customNavigation a.next {
  left: 30px;
  right: auto;
}
.tm-hometabcontent #bestseller .customNavigation a.prev {
  left: 0;
  right: auto;
  padding: 0 22px;
}


@media (max-width: 1249px) and (min-width: 992px){
  .footer-container #tmpaymentcmsblock { width: 21%;}
  .footer_top_inner .footerblock .image4 {margin: 0 0 0 0;}
  .footer_top_inner .footerblock .image3 {margin: 0 0 0 0;}
  .footer_top_inner .footerblock .image2 {margin: 0 0 0 0;}
  .footer_top_inner .footerblock .image1 {margin: 0 0 0 0;}
  .text-cms {
    float: left;
    padding: 5px 45px 0 0;
  }
   #newsletter_block_left form{ float: right; }
  .footer-before .block-social {float: left;text-align: center;}
}


.lb-data .lb-details{text-align: right;float: right;}
.lb-data .lb-close{float: left;}
.blog-detail .social-share{float: right;}
.blog-detail .blog-tags{float: left;}
#index .blog-ctncomment{padding: 0 7px;}
#index .blog-item .fa.fa-calendar, #index .blogdate{float: right;}
.nav-fullwidth.fixed #_desktop_user_info{left: 64px;right: auto;}
.nav-fullwidth.fixed .search-widget{left: 100px;right: auto;}
.nav-fullwidth.fixed .search-widget form input[type="text"] {padding: 0 15px 0 0;}
.nav-fullwidth.fixed .searchtoggle{left: 0;right: auto;}
#js-product-list-top .col-md-6{padding-left: 15px;}
.user-info a i {float: right;line-height: 20px;margin-left: 10px;}
.language-selector-wrapper .cur-label, .currency-selector .cur-label{float: right;width: 100%;}
#left-column .products .product-item a, #right-column .products .product-item a{text-align: right; float: right;}
.search-widget form input[type="text"]{padding: 0 15px 0 50px;}
#js-product-list-top .col-md-6.relevence-order-short {float: left;padding: 0 0 0 15px;}
#header .header-nav .right-nav{float: left;}
.brandname_product{text-align: right;float: right;}
@media (max-width: 1299px){
  .test_name{margin-left: 0;}
}
@media (max-width: 1199px){
  .products-sort-order {width: 66%;}
  #_desktop_user_info {
  float: left;
  margin: 22px 0 0 0;
}
  #_desktop_cart .hidden-md-down.cart {
  padding-right: 10px;
  padding-left: 0;
}
  #_desktop_top_menu {
  width: 57%;
  padding-left: 0;
  padding-right: 30px;
}
.user-name {
  padding-right: 10px;
  padding-left: 0;
}
  #index .blog-ctncomment::before{content: initial;}
  #index .blog-ctncomment::after{content: "";}
  .innercms_testimonial{margin-right: 0;margin-left: 20px;}
  .test_name {margin-left: 0;margin-right: 20px;}
}
@media (max-width: 991px){
  #product .product-actions .control-label, 
  #product .product-actions-main .control-label {width: 50px;}
  .service-desc1, .service-desc2, .service-desc3, .service-desc4 {float: none;width: 100%;text-align: center;}
  .footer_top_inner .footerblock .image {display: inline-block;text-align: center;float: none;}
	/*Bonjour*/
   #left-column #tmleftbanner {margin-bottom: 0px;}
  #products .product-title, .products .gridcount.list .product-title {
    margin-bottom: 0px;
}
.first-content.main-content {
    text-align: center;
    float: left;
    position: relative;
}
	.footer-container .block-social.links .title1 {display: none;}
	.copyright a::after {width: 120px;display: none;}
	#_desktop_user_info .user-info, #header .header-nav .user-info {right: auto;}
	.footer-container .links .h3, .footer-container .links h3, .footer-container .links h3 a {float: right;}
	.footer-container .block-social li {float: right;}
	/*over Bonjour*/
  #header .header-nav #search_widget{float: left;}
  /*#header .header-nav #search_widget{margin: 28px 0px 15px 5px;}*/
  .block-contact.links.wrapper, .footer-container .links.block{text-align: right; width: 100%;}
  #newsletter_block_left h4.sub_heading{
    float: right;
    padding: 8px 50px 8px 0;
    background: rgba(0, 0, 0, 0) url("../img/megnor/email.png") no-repeat scroll right center;
  }
  /*#newsletter_block_left form input[type="submit"]{left: 0;right: auto;}*/
  #newsletter_block_left form {float: none;}
  .text {float: none;}
  #newsletter_block_left .block_content::before {left: auto;right: auto;}
  .products-selection .showing{float: right;}
  #js-product-list-top .col-md-6 {padding-left: 0;}
  #js-product-list-top .col-md-6.relevence-order-short{padding: 0;}
  #links_block_top{margin :29px 0px 13px 33px;}
  #contact-link span{float: right;}
  #tm_toplink li:last-child {padding-right: 0;}
  .search-widget form input[type="text"]{padding: 0 15px 0 40px}
}
@media (max-width: 767px){
	/**/
	.blog-item .blog-content-wrap {right: 20px;left: 0px;
	}
	#index .blog-item .blog-content-wrap .blog-shortinfo > span {text-align: right;}
	/**/
  .cmscategory {float: none;}
  #product .tabs .nav-tabs .nav-item {padding: 0;text-align: center;}
  .tm-hometabcontent #bestseller .customNavigation a.prev{right: 0; padding: 0 22px;}
  #index .blog-ctncomment::after {content: initial;}
  
  .special-products .products .customNavigation a.prev{ right: 0; }
  #index .blog-item .fa.fa-calendar, #index .blogdate {float: none;}
  .pagination > div:first-child{float: right;}
  #products .products .list li.product_item .center-block{padding: 0px 0 0;}
  .products .product_list li .quick-view, .products .product_list .add-to-cart{ left: 10px; right: auto;}
  .innercms_testimonial {margin-right: 0;margin-left: 0;float: none;}
  .product_inner_cms{text-align: center;}
  .test_name { margin-left: 0; margin-right: 0; text-align: center;}
  #tmtestimonialcmsblock .owl-controls .owl-pagination {left: 0;right: 0;}
}
@media (max-width: 479px){
  .comments_note div.star, #productCommentsBlock div.star {float: none;}
	/**/
  .products .comments_note {
  text-align: center;
  color: #878787;
  margin: 0;
  line-height: 0;
}
.products .product-title {margin-bottom: 0;}
  .product-title a {float: none;margin: 0 auto;text-align: center;margin-top: 10px;}
  .cms-block3 {margin-bottom: 15px;margin-top: 15px;}
  #header .searchtoggle {right: -152px;left: 0;}
  .footer_top_inner {margin: 25px 0 25px 0;}
	.tmcategory-container .categoryblock .block_content .categorylist {bottom: 30px;left: 22px;right: 22px;}
	.blog-item .blog-content-wrap {right: 0;left: auto;}
  #header .header-nav #search_widget {margin: 15px 5px 15px 0;} 
  #products .products{margin: 0 !important;}
  #newsletter_block_left .block_content{margin-right: 0;}
  #links_block_top {margin: 22px 15px 13px 21px;}
  #header .header-nav .top-logo {margin-left: 0;margin-right: 0;}
  .products .product-miniature .online-only{left: auto;right:5px;}
  .product-flags li.on-sale, .product-flags li.discount{left: 5px;right: auto;}
  .product-miniature .product-flags .new{right: 5px;left: auto;
  }
  .discount_type_flag {top: 5px;left: 5px;right: auto;}
  #newsletter_block_left form input[type="text"]{padding: 0 45px 0 0;font-size: 12px;letter-spacing: 0;}
  #newsletter_block_left form .input-wrapper::after {right: 8px;left: auto;}
  .products .product-price-and-shipping, .product-price {font-size: 13px;text-align: center;float: none; display: inline-block;width: 100%;}
  .tm-hometabcontent .products .product-price-and-shipping, .product-price{text-align: center;}
    .brandname_product{text-align: center;}
  }
  }
}