<?php

$text_17 = "<br/><span style='color:red;font-weight:bold'><br/>".
    $this->_data_translate_custom['_slidersettings_txt_read_step'].
    " <a target='_blank' href='../modules/".$this->name."/Installation_Guid.pdf' style='text-decoration:underline;font-weight:bold'>Installation_Guid.pdf</a>"
    ."<br/></span>";



