{*
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to a commercial license from SARL Ether Creation
 * Use, copy, modification or distribution of this source file without written
 * license agreement from the SARL Ether Creation is strictly forbidden.
 * In order to obtain a license, please contact us: contact@ethercreation.com
 * ...........................................................................
 * INFORMATION SUR LA LICENCE D'UTILISATION
 *
 * L'utilisation de ce fichier source est soumise a une licence commerciale
 * concedee par la societe Ether Creation
 * Toute utilisation, reproduction, modification ou distribution du present
 * fichier source sans contrat de licence ecrit de la part de la SARL Ether Creation est
 * expressement interdite.
 * Pour obtenir une licence, veuillez contacter la SARL Ether Creation a l'adresse: contact@ethercreation.com
 * ...........................................................................
 *
 * @author    Ether Creation SARL <contact@ethercreation.com>
 * @copyright 2008-2021 Ether Creation SARL
 * @license   Commercial license
 * International Registered Trademark & Property of Ether Creation SARL
 *}
<input type="hidden" id='ec_token' value="{$ec_token|escape:'htmlall':'UTF-8'}"/>
<input type="hidden" id='fournisseur' value="{$fournisseur|escape:'htmlall':'UTF-8'}"/>
<input type="hidden" id='eci_baseDir' value="{$eci_baseDir|escape:'htmlall':'UTF-8'}"/>
<input type="hidden" id='id_shop' value="{$id_shop|escape:'htmlall':'UTF-8'}"/>
<input type="hidden" id="tradsend" value="{l s='Send' mod='ecicdiscountpro'}"/>
<input type="hidden" id="tradsend2" value="{l s='Re Send' mod='ecicdiscountpro'}"/>
<div id="display_message">
    </div>