.form-error { background-color: #f2dede; border-color: #ebccd1; color: #a94442;}
/*.form-error img {float: right; position: relative; top: -15px;}*/
#loadingDiv { position: absolute; top: 50%; left: 46%; padding: 50px; width: auto; height: auto; border: 5px solid #f90; background: #fff; z-index: 999999; text-align: center; vertical-align: middle; }
.fbpscClearAdmin2,.fbpscClearAdmin{ height:0; margin:15px 0; padding:0; clear:both; width:100%; border-bottom:1px solid #CCC; border-top:1px solid #FFF;}
.fbpscClearAdmin2{ border: none;}
.fbpscClearAdminSpace{	margin-top: 50px;	margin-left: 50px;}

/* Misc visuals
----------------------------------*/
.fbpsc_product_desc { font-size: 11px !important; margin-bottom: 5px;}
div.fbpscpricecontainer { height: 50px; text-align: center; }
div.fbpsc_products_block { width: auto !important; }
ul#fbpsctabs { border-bottom: 1px solid #d3d3d3; -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }
#featured-products_block_center ul li { border: 0; margin: 0 4px 4px 0; }
#fbpscConfigureConnector h3, #fbpscConfigureHook h3 { background-color:#000000; text-align:center; color: #fff !important; padding: 5px; }
.information H2 {font-size: 16px;}
#tabsheets input[type=text], #tabsheets select { color: #1E6CA2 !important; background-color: #D3E9F8; }
#loaderbar { width: 200px; height: 16px; padding: 2px; border: 1px solid #E0D0B1; background-color: #fff; }
#loadingDiv {position: absolute; top: 50%; left: 46%; padding: 50px; width: auto; height: auto; border: 5px solid #1E6CA2; background: #fff; z-index: 999999; text-align: center; vertical-align: middle;}
.plugin_form {height: auto; width: auto; background:#ffffff; margin: 0 0 10px 0; padding:10px;}
.separator {width: 100%;margin: 3px;border-bottom: 1px solid #BDC7D8; margin-top: 20px; margin-bottom: 20px;}
label.fbpsclabel { text-align: left !important; width: auto !important; }
.plugin_form td, .plugin_form td input, .plugin_form td select { text-align: left !important; }
.plugin_form td { padding-top: 2px; padding-bottom: 2px; }
input.fbpscbutton { clear: both; background: url(../img/admin/fb_button_bg.jpg) top left; color: #fff !important; font-weight: bold; border: 0 !important; padding: 3px !important; }
#fbpscConfigureHook { width: 600px !important; background-color: white;}
div#fbpscDraggableConnector { width: 250px ;margin-right: 60px; margin-left:10px; float: left}
ul.fbpscConnectorlist  { padding: 5px !important; background:#F1F3F8; border: 1px solid #3B5998; }
li.fbpscdragli, li.fbpscsortli { cursor:move !important; display: block; width: auto; padding: 3px !important; margin: 5px;  color: #fff !important; border: 0 !important; }
img.fbpscGarbage { cursor:pointer; }
div#fbpscDroppableConnector { width: 250px; border: 0; float: left}
.fbpscconnectorlist, ul#fbpscSortable{ padding: 5px !important; height: 285px; background:#F1F3F8; border: 1px solid #000000; }
.connectorTitle { color: #000000; font-size: 16px; }
td.fbpsctd, th.fbpsctd { text-shadow: 0 1px 0 #000 !important; background-color: transparent !important; background-image: url(../img/admin/fb_button_bg.jpg) !important; background-position: top left !important; color: #fff !important; }
.form-error { background-color: #f2dede; border-color: #ebccd1; color: #a94442;}
.admin-text {color: #333;cursor: default;font-family: Verdana, Arial, sans-serif;font-size: 13px;font-weight: bold;}
.bt_trash_dragable { padding-right: 10px;}

/** POP UP CONTENT **/
.popup_title{	background-color: #000000;	color: #ffffff;	text-align: center;	padding-bottom: 5px;	padding-top: 5px;}
#form_connector{padding-left: 35px;	padding-right: 35px;	border: 1px solid #000000;}
#form_hook{	width: 580px;}
.modal-body img{	width: 900px;	height: 900px;	padding-right: 17px;}

/*override new back office CSS and for BT using*/
.bootstrap .nav-tabs{	border-bottom: 1px solid #dddddd;}
.nobootstrap label{	text-shadow: none;}
.bootstrap a{	color : #000000;	text-decoration: none;}
#content .alert-info{	padding-left: 50px;	padding-bottom: 15px;	position: relative;	border-left: solid 3px #81cfe6;	color: #31b0d5;	background-color: #f8fcfe;	border-bottom : none;	border-top : none;}

.bootstrap a.list-group-item:focus { text-decoration: none; background-color: #00aff0; color: white; font-weight: bold;}
.module_banner {	box-shadow: 1px 1px 12px #555;}
.bt-effect {	box-shadow: 1px 1px 12px #555;}

/*START LIVE PREVIEW*/
.custom-live {	width:150px;	float:right;	position:float;	margin-right: 450px;}
#previewProduct {	float: right;}
.list-group-item { cursor: pointer !important; }
/*END LIVE PREVIEW*/

/* Customer information table */
.facebook_table { background-color: #577ab2; font-weight: bold; color: white;}
.twitter_table { background-color: #00cfee; font-weight: bold; color: white;}
.google_table { background-color: #c51f1f; font-weight: bold; color: white;}
.paypal_table { background-color: #0070BA; font-weight: bold; color: white;}
.amazon_table { background-color: #f5d071; font-weight: bold; color: #000000;}
.list-empty-icon {	font-size: 40px !important; }
.bt_dashboard_header { background: #333; color: white;}

/*Notice div*/
.notice {	font-weight:bold; 	background-color: #fafafa;	border-left: 6px solid #7f7f84;	margin-bottom: 10px;	-webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);	-moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);	box-shadow: 0 5px 8px -6px rgba(0,0,0,.2); padding-right: 10px;}
.notice-sm {	padding: 10px;	}
.notice-lg {	padding: 35px;	font-size: large;}
.notice-success {	border-color: #80D651;}
.notice-info {	border-color: #45ABCD;}
.notice-warning {	border-color: #FEAF20;}
.notice-danger {	border-color: #d73814;}

/* Welcome */
#modulenewsletterblock { margin-left: 25px;}

/*Badge update for the module*/
#fbpsc .badge { border-radius: 0px !important;}
#fbpsc .success {
	background-color: #ddf0de;
	color: #72C279;
}
#fbpsc .warning {
	background-color: #FFF3D7;
	color: #D2A63C;
}
.bootstrap .panel-title>a
{
	font-size: 16px !important;
}
.bootstrap #fbpsc .btn-google {
    box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.1);
}

.bootstrap #fbpsc .btn-google-drag {
    width:100% !important;
}
.bootstrap #fbpsc .btn-connect.btn-block-connect {width: 120px;}
/* Force a 120px width for all buttons, even FB, unlike the FO */
#fbpscShortCode .btn-block-connect, #bt_form-connector-position .btn-block-connect, #fbpsc.form-group .btn-block-connect, #fbpscHookAdvanced .btn-block-connect{width: 120px;}
#fbpscSortable .btn-social > span.fa {line-height: 30px;}
#fbpscSortable #google .btn-social.btn-google {padding-left: 44px;}
#fbpscShortCode .btn-block-connect.btn-google .btn-google-icon, #bt_form-connector-position .btn-social.btn-google .btn-google-icon, #fbpscHookAdvanced .btn-social.btn-google .btn-google-icon, #fbpscSortable #google .btn-social.btn-google .btn-google-icon {width: 32px;}
