.authentication{display: inline-block;z-index: 999999;text-align: left;width: 100%;padding:10px 10px 10px 10px;margin:0px 0px 0px 0px;color:#333333;font-size:15px;background:#f3f3f3;border-bottom:2px solid #f3f3f3;}