

 .ui-widget {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background: #61868e;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

 .ui-datepicker {
    padding: 0;
    width: 330px;
    border: 1px solid #d1d7da;
}

.ui-datepicker select {
    background: #5a868e;
    border: 0px;
}

 .ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 15px;
}

 .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

 .ui-datepicker .ui-datepicker-title {
	margin-top: .4em;
	margin-bottom: .3em;
	color: #e9f0f4;
}

 .ui-datepicker .ui-datepicker-prev-hover,
 .ui-datepicker .ui-datepicker-next-hover,
 .ui-datepicker .ui-datepicker-next,
 .ui-datepicker .ui-datepicker-prev {
	top: .9em;
	border:none;
}

 .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

 .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

 .ui-datepicker .ui-datepicker-next span,
 .ui-datepicker .ui-datepicker-prev span {
	background-position: -32px 0;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}

 .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px 0;
}

 .ui-datepicker table {
	margin: 0;
}

 .ui-datepicker th {
	padding: 1em 0;
	color: #ccc;
	font-size: 13px;
	font-weight: normal;
	border: none;
	border-top: 1px solid #577e86;
}

 .ui-datepicker td {
	background: #fff;
	border: none;
	padding: 0;
}


 td .ui-state-default {
	background: transparent !important;
	border: none !important;
	text-align: center !important;
	padding: .5em !important;
	margin: 0 !important;
	font-weight: normal !important;
	color: #61868e !important;
	font-size: 16px !important;
}

 .ui-state-disabled  {
	opacity: 1;
}

 .ui-state-disabled .ui-state-default {
	color: #fba49e;
}

 td .ui-state-active,
 td .ui-state-hover {
	background: #2e3641;
}

.ui-datepicker .ui-state-active {
    background-color: #5a868e !important;
    border-color: #5a868e !important;
}
.ui-datepicker tr td:hover{
    background-color: #92b0b5 !important;
    color: #fff !important;
}